[2020-07-28 04:28] goliakshay357 opened #3 "Making the website homepage"
Making a homepage of the website which has the Introduction section, features section, and footer section.
path: HomeComponent.

[2020-07-28 04:40] goliakshay357 opened #4 "Add Width/thickness changer for the pen chosen"
Change the width/thickness of the selected pen dynamically.

[2020-07-28 04:42] goliakshay357 opened #5 "Adding an image to canvas via file input which can be draggable on the board."
Adding an image on canvas which can be draggable to enhance the learning experience.

[2020-07-28 04:44] goliakshay357 opened #6 "Adding a text input which can be draggable on the board"
Adding a text input that takes user input and can be draggable on the board.

[2020-07-28 04:45] goliakshay357 opened #7 "Add popular colors toolbox"
Adding popular colors used toolbox for easy handling.

[2020-07-28 04:47] goliakshay357 opened #8 "Diary feature"

[2020-07-28 05:33] goliakshay357 opened #9 "Download all dataURL's as PDF"
Converting notes to PDF

[2020-07-28 05:40] goliakshay357 opened #10 "Documentation improvements."

[2020-07-28 12:01] goliakshay357 opened #11 "Add Graphs for Better visualisations"

[2020-08-06 09:34] goliakshay357 opened #12 "Add polling in the chatbox"

[2020-08-08 18:20] #3 closed

[2020-08-09 22:18] goliakshay357 opened #13 "Saving the notes."
As soon as the user finishes writing on the board. All his written notes (i.e imgURL's) should be saved in the database so that he/she can come and view it later for further purpose.
1. He/She can edit the same document
2. Can download as PDF locally

[2020-08-09 22:23] goliakshay357 opened #14 "Flexibility to see the saved notes on the dashboard."
As soon as the user finishes login. He/She has the flexibility to see all the prev notes on the dashboard itself. On clicking, He can either view the file in file explorer or download it as PDF

[2020-08-20 15:32] goliakshay357 opened #16 "Adding Shapes"
Adding basic shapes like circle, rectangle, triangle whose sizes can be adjusted with mouse events.

[2020-09-11 18:23] rohitkatlaa opened #17 "Adding the dashboard UI for the Learning Management System"
As a part of the Learning Management system, the dashboard for the student and the teacher is to be created.

[2020-09-11 18:26] rohitkatlaa opened #18 "Adding the course UI for the Learning Management System"
As a part of the Learning Management system, the courses page for the student and the teacher is to be created. The course page should display the notes for that course and the related assignments. The functionality should be appropriate for the teachers and the students.

[2020-09-11 18:28] rohitkatlaa opened #19 "Adding the assignment management UI for the Learning Management System"
As a part of the Learning Management system, the assignment management page for the student and the teacher is to be created.
It should include creating, evaluating and viewing the evaluated assignments. The teacher should be able to create and correct the students assignment. The student should be able to view and submit the assignments.

[2020-09-11 19:44] goliakshay357 opened #20 "Adding title to preview main heading"
Adding title to creative board to preview lesson heading or document heading.

[2020-09-11 19:51] goliakshay357 opened #21 "Adding H1, H2, H3 tags"
Flexibility for the user to make use of H1 H2 and H3 tags on creative board

[2020-09-11 19:53] goliakshay357 opened #22 "Bold text, italic text, Underline text"
Ability to bold the text, Italic style and underline the text

[2020-09-11 19:55] goliakshay357 opened #23 "Ability to add colour boxes"
Ability for the user to add color boxes to highlight the important notice.

[2020-09-11 19:56] goliakshay357 opened #24 "Make toolbox responsive"
Make toolbox responsive on screens

[2020-09-11 19:59] goliakshay357 opened #25 "Ability to add Orderlist"
Ability for user to add OL tag dynamically on creative board.

[2020-09-11 20:00] goliakshay357 opened #26 "Ability to add code snippet."
Ability for user to add code snippet in the creative board.

[2020-09-11 20:01] goliakshay357 opened #27 "Adding canvas for drawing"
Adding canvas for drawing to use it like a board.

[2020-09-11 20:02] goliakshay357 opened #28 "Saving notes"
Ability for user to save notes so it can be viewed later for general purpose.

[2020-09-11 20:04] goliakshay357 opened #29 "Adding Images"
Ability to add images on canvas creative board for general usage.

[2020-09-11 20:05] goliakshay357 opened #30 "Adding graphs"
Ability for user to add graphs for general usage.

[2020-09-11 20:10] goliakshay357 opened #31 "Ability to delete block based editor box"
Ability to delete block based editor box

[2020-09-12 05:25] Kajol-Kumari opened #32 "PR and Issue Template"
**Current situation**
Currently we don't have any specific issue/PR template that we would be following for this project.

**Suggested changes**
Create a specific template that we would be following for creating an issue and PR.

[2020-09-12 06:33] #20 closed

[2020-09-12 08:07] goliakshay357 commented on #21
Changing the toolbox from static to dynamic

[2020-09-12 09:13] goliakshay357 commented on #21
Resolved via [this](https://github.com/Canvasbird/canvasboard/commit/0979088d0af51de425ec3f52ef03ca711ea42e45) commit

[2020-09-12 09:18] Kajol-Kumari commented on #21
Hey @goliakshay357, the `h1, h2 and h3` tag is working fine. But how do I get a paragraph in the creative-board back again?

[2020-09-12 09:21] goliakshay357 commented on #21
Will solve it in my follow-up commit.
Thanks.

[2020-09-12 10:42] #21 closed

[2020-09-12 12:22] goliakshay357 commented on #22
Resolved

[2020-09-12 12:22] #22 closed

[2020-09-12 16:26] goliakshay357 commented on #31
Resolved

[2020-09-12 16:26] #31 closed

[2020-09-12 16:26] goliakshay357 commented on #23
Resolved.
Added Red, Green, Yellow and blue colours

[2020-09-12 16:26] #23 closed

[2020-09-12 17:35] Kajol-Kumari commented on #25
This issue has been resolved via [this](https://github.com/Canvasbird/canvasboard/commit/acb51360746cd732e22ed320813630e8a2112eef) commit.

[2020-09-12 17:35] #25 closed

[2020-09-12 17:38] Kajol-Kumari opened #41 "Unordered list for creative-board"
**Current Behaviour**
We don't have the option to insert an unordered list on the creative board as of now.

**Requested change**
Add an unordered list feature for the creative board.

[2020-09-12 17:44] Kajol-Kumari commented on #41
This issue has been resolve via [this](https://github.com/Canvasbird/canvasboard/commit/29fa3650279cb6274f30f53decadce2c6d3a5acd) commit.

[2020-09-12 17:44] #41 closed

[2020-09-12 17:55] Kajol-Kumari commented on #26
This has been resolved via [this](https://github.com/Canvasbird/canvasboard/commit/148911e655f1eba83cf59c5be5fce6025e57b520) commit.

[2020-09-12 17:55] #26 closed

[2020-09-12 18:24] Kajol-Kumari commented on #29
This issue has been resolved via [this](https://github.com/Canvasbird/canvasboard/commit/181a0bb96e9107965df4d713e449a38eb89c690f) commit.

[2020-09-12 18:27] #29 closed

[2020-09-12 18:55] goliakshay357 opened #42 "FOSS suggestions"
- [ ] Change font style
- [ ] Add padding for better UI
- [ ] Keyboard shortcuts
- [x] Change menu icon

[2020-09-13 06:00] Kajol-Kumari commented on #32
This had been fixed via [this](https://github.com/Canvasbird/canvasboard/commit/c52ce91a4d37ad0dceb2dcc2d102632a96e594b0) commit.

[2020-09-13 06:00] #32 closed

[2020-09-14 19:35] #27 closed

[2020-09-14 19:35] #28 closed

[2020-09-14 19:35] #30 closed

[2020-09-24 20:43] deepak2431 commented on #42
@goliakshay357 I think we should close this issue now.

[2020-09-24 21:04] #42 closed

[2020-09-25 07:26] goliakshay357 opened #48 "Adding emoji plugin in toolbox"
Adding emoji selection tool plugin to toolbox for easy addition of emojis into the cards.
- [ ] Search button to find required emojis
- [ ] Frequently used emojis

![image](https://user-images.githubusercontent.com/32712438/94238623-44702480-ff2e-11ea-99bb-bdc96d996b8d.png)

[2020-09-25 07:36] goliakshay357 opened #49 "PDF and PPT Rendering."
Ability to upload PDF or PPT on creative board.

[2020-09-25 07:58] goliakshay357 opened #50 "Footer in contribution page"
Fix footer in contribution page
![image](https://user-images.githubusercontent.com/32712438/94241971-00335300-ff33-11ea-9480-fea199814f18.png)

[2020-09-25 08:02] goliakshay357 opened #51 "Change Favicon icon"
![image](https://user-images.githubusercontent.com/32712438/94242113-31138800-ff33-11ea-9a07-335bf2f64e59.png)

link: https://drive.google.com/file/d/1Jt0E1eVV3153jC9nr6yzXnplyNhqzEhd/view?usp=sharing

[2020-09-25 08:05] goliakshay357 opened #52 "Clear the elements inside card when adding new plugin"
Clear the elements in the card if planning of adding a different or new plugin.

Eg: When canvas element is added, remove the text present.

[2020-09-25 08:07] goliakshay357 opened #53 "Add Embed Links"

[2020-09-25 08:09] goliakshay357 opened #54 "Youtube video"
User can add Youtube video Embed link to watch within the creative board.

[2020-09-25 08:12] goliakshay357 opened #55 "Easy plugin toolbox"
Pin frequently used plugins from toolbox for quick access

[2020-09-25 08:13] goliakshay357 opened #56 "New Plugin documentation"
Checklist to follow for adding a new plugin to the creative board.

[2020-09-25 08:14] goliakshay357 opened #57 "Search toolbox"
Search icon inside toobox to find the required plugin easily

[2020-09-25 08:19] goliakshay357 opened #58 "Adding canvas to new card when selected"
Adding the canvas element to new card instead of adding in the same card.

[2020-09-25 08:21] goliakshay357 opened #59 "optimise code editor"

[2020-09-25 08:23] goliakshay357 opened #60 "LaTeX plugin"
Adding LaTeX as a plugin to the cards.

[2020-09-25 17:49] goliakshay357 opened #61 "Show plugin name on hover in toolbox"

[2020-09-25 18:12] goliakshay357 opened #62 "Warning while refreshing if user does not save the page."

[2020-09-25 18:33] goliakshay357 opened #63 "Todo list Plugin"
A todolist plugin

[2020-09-26 11:12] #51 closed

[2020-09-26 11:15] Findingone opened #66 "Cancel button for uploading a new image"
When we click on button to upload an image, If we then click on cancel even then it is going ahead with confirming the url. It should hide the browser alert as soon as cancel is pressed.

Steps to reproduce:
On any card, click on image to open a new image. then click on cancel.

[2020-09-26 11:43] Dragonsa15 opened #67 "Adding a Chatbot feature for Canvas"
With new users using the canvas, it can be increasingly difficult for the user to understand, how to add an ordered list , or how to add an equation in the canvas. And going to the documentation every time for the same is not the solution. So why not create a simple AI helper assistant that can take care of this problem by helping the user on any doubts that he has regarding the canvas. According

[2020-09-26 11:45] goliakshay357 opened #68 "Making the Dashboard."
A dashboard to view all the folders of a user ( JSON Response from backend ).

![image](https://user-images.githubusercontent.com/32712438/94339967-bd997580-001b-11eb-8769-1121a8c1c76a.png)

As soon as a user logs in, **routelink** will be directed to dashboard.

[2020-09-26 11:51] goliakshay357 opened #69 "Adding features description on homepage"
Example template
![image](https://user-images.githubusercontent.com/32712438/94340086-94c5b000-001c-11eb-8f29-d7cc2c51f3b1.png)

[2020-09-26 11:55] goliakshay357 commented on #67
That's a great idea to work on @Dragonsa15

[2020-09-26 12:01] goliakshay357 commented on #66
Hi @Findingone ,
Would be great if you can attach a supporting GIF for describing the issue.

[2020-09-26 12:19] goliakshay357 opened #72 "Center Logo and Adjust contents in mobile resolution"
Center Logo in Screen Resolution lesser than iPad.
![image](https://user-images.githubusercontent.com/32712438/94340559-6fd33c00-0020-11eb-8134-77a9e73f4a4d.png)

[2020-09-26 12:21] goliakshay357 opened #73 "UI Fixes in home page"
UI Fixes in home page
Resolution: Mobile

![image](https://user-images.githubusercontent.com/32712438/94340603-ca6c9800-0020-11eb-9b0b-15e7350307fe.png)

[2020-09-26 12:23] goliakshay357 opened #74 "UI Fixes in Footer"
UI Fixes in Footer
Resolution: Mobile
![image](https://user-images.githubusercontent.com/32712438/94340645-1c152280-0021-11eb-8bb8-5a2fd46bde24.png)

[2020-09-26 12:58] goliakshay357 opened #75 "Redirect Contribute button to canvasboard github page."
Link: https://github.com/Canvasbird/canvasboard/
Component: HomeComponent
Redirect: /home
path: components/home

![image](https://user-images.githubusercontent.com/32712438/94341330-153cde80-0026-11eb-85d7-adde89522114.png)

[2020-09-27 06:08] rebelchris commented on #74
@goliakshay357 I can take this issue if that's ok with you 🤟

[2020-09-27 09:08] goliakshay357 commented on #74
@rebelchris sure! :+1:

[2020-09-27 12:38] joshyide commented on #73
Hi there @goliakshay357 !
I'd like to take on this issue for hacktoberfest if you wanna assign it to me? :octocat: 😄

[2020-09-27 16:20] goliakshay357 commented on #73
@joshyide Sure :+1:

[2020-09-27 17:16] pallavithakare28 commented on #7
@goliakshay357 @deepak2431 I would like to work on this issue.

[2020-09-27 17:18] goliakshay357 opened #76 "Filter files on search"
- [ ] Flexibity to add custom labels to each card
- [ ] Filtering the files on search input in the /files folder ( reference: labels )

![image](https://user-images.githubusercontent.com/32712438/94371333-6ecf0700-0113-11eb-990c-629dddbdef26.png)

[2020-09-27 17:25] goliakshay357 opened #77 "Integrating BigBlueButton"
Link: https://bigbluebutton.org/

[2020-09-27 17:26] goliakshay357 opened #78 "User guide for plugin"
User guide for adding new plugins to the creative board.

[2020-09-27 17:34] deepak2431 commented on #7
@pallavithakare28 Go ahead! Let us know if you need any clarification.

[2020-09-27 17:38] goliakshay357 opened #79 "Improving README.md file"

[2020-09-27 17:46] goliakshay357 opened #80 "CI/CD with github actions"

[2020-09-27 18:26] CodeSarthak commented on #72
Hey @goliakshay357 , I'd like to take up this issue!

[2020-09-27 18:28] CodeSarthak commented on #50
Hey @goliakshay357 👋

I'd like to try this one but I don't seem to understand what exactly needs to be fixed here.

[2020-09-27 18:38] deepak2431 commented on #67
@Dragonsa15 Sounds good! I will checkout the library once you have mentioned above.

[2020-09-27 18:39] deepak2431 commented on #72
@CodeSarthak Sure, go ahead!

[2020-09-27 19:51] deepak2431 commented on #53
I am working on this issue.

[2020-09-27 19:54] goliakshay357 commented on #50
Hi @CodeSarthak ,
The position of footer should always be in the bottom. You could see that the footer in this component is not in the bottom.

**Component**: contribution
**Path**: components/contribution
**redirect path**: /contribution

Thanks! :)

[2020-09-27 19:56] goliakshay357 commented on #53
Sure! :+1:

[2020-09-27 19:58] goliakshay357 commented on #50
You can clear out #75 at the same time by just adding the route-link.
Thanks!

[2020-09-27 20:07] goliakshay357 commented on #67
@Dragonsa15 How about using [wit.ai](https://wit.ai/)?

[2020-09-27 20:14] goliakshay357 opened #81 "Adding Shapes on board"
Adding shapes on canvas board which are draggable.

![image](https://user-images.githubusercontent.com/32712438/94374757-ffb1dc80-012b-11eb-80b5-6fc3198fd6d8.png)

Navigation: /board
Component: board

[2020-09-27 20:16] goliakshay357 opened #82 "Adding Eraser."
Adding Eraser  functionality to canvas board.
![image](https://user-images.githubusercontent.com/32712438/94374807-5d462900-012c-11eb-9ddb-f0726e110c2d.png)

path: /board
Component: board

[2020-09-27 20:18] goliakshay357 opened #83 "Saving all the canvas pages in form of JSON"
Saving all the canvas pages in form of JSON
![image](https://user-images.githubusercontent.com/32712438/94374832-a5654b80-012c-11eb-8e7e-a6a2c5d47f2d.png)

path: /board
Component: board

[2020-09-27 20:21] goliakshay357 opened #84 "Adjust the Highlighter pen opacity"
Adjusting the Highlighter pen opacity so the content highlighted can be viewed properly.

![image](https://user-images.githubusercontent.com/32712438/94374865-ecebd780-012c-11eb-87ac-c630703feb35.png)

path: /board
Component: board

[2020-09-27 20:22] goliakshay357 opened #85 "Add Images on board."
Adding Images on board which are can be draggable.

path: /board
Component: board

[2020-09-27 20:33] Dragonsa15 commented on #67
@goliakshay357 wit.ai is pretty good in NLP and entities and with facebook backing it up it should be pretty fast too, but I think I saw some posts which said that it has depreciated since 2017 thus I put it in a bit low regard as compared to the like Dialogflow(provides voice assistant as well according to docs at least) or Microsoft Bot. I haven't worked with the above 2 but they are pretty popu

[2020-09-28 13:39] lucassorenson commented on #84
Can I try this out?

[2020-09-28 13:55] goliakshay357 commented on #84
@lucassorenson Sure :+1:

[2020-09-28 13:57] goliakshay357 commented on #67
Interesting!
Thanks for sharing @Dragonsa15

[2020-09-28 22:13] SkullCarverCoder commented on #85
Hi I would love to contribute ! Really interested in this project. Images would be able to be resized? Have an specified file size limit given a configuration parameter/variable? Anyways I would love to work on this as soon as October starts.

[2020-09-29 01:30] alinebrito commented on #82
Hi, can I get this issue?

[2020-09-29 03:15] goliakshay357 commented on #82
@alinebrito Sure :+1:

[2020-09-29 03:18] goliakshay357 commented on #85
@SkullCarverCoder sure :+1:
Yes Images can be resized and there is nothing specific to file limit.
Thanks!

[2020-09-29 15:13] pallavithakare28 commented on #7
@deepak2431  Thank you for assigning. Can you please help out? I am not getting from where I have to start. And from where I have to make changes.

[2020-09-29 17:03] goliakshay357 commented on #7
Hey @pallavithakare28 ,
You could start working on this issue in board component (path: src/app/components/board)
The required tools and functions are added in the above component mentioned.

You could even reach out to other members of the team in the gitter channel (mentioned in the README).
Hope that helps.
Thanks

[2020-09-29 17:06] deepak2431 opened #86 "Add laser pen feature"
Adding a features to use laser pen while teaching would be really helpful for the teachers.
Expected behavior: It should behave like normal pen, just the difference should be that after highlighting a certain text or notes with it should disappear after few seconds.

Any suggestions from you @goliakshay357 for the expected behavior?

[2020-09-29 17:07] deepak2431 opened #87 "Add tool tip feature"

[2020-09-29 17:08] deepak2431 opened #88 "Suggest new UI/UX design for the board"

[2020-09-29 18:19] pallavithakare28 commented on #7
@goliakshay357 Thank you for the help.

[2020-09-29 21:07] goliakshay357 commented on #7
@pallavithakare28, the following variable is responsible for changing colour of the pen. By clicking the frequently used colour boxes, the value of this variable changes.

[code]

Thanks.

[2020-09-30 17:07] CodeSarthak commented on #50
It looks perfectly fine of my end.

It might be an issue with the responsiveness.

![image](https://user-images.githubusercontent.com/24937677/94717123-7ee22300-036d-11eb-91d0-d5ee4de3a8dd.png)

[2020-09-30 17:11] CodeSarthak commented on #72
@goliakshay357 , it already appears to be centered.

![image](https://user-images.githubusercontent.com/24937677/94717502-0b8ce100-036e-11eb-8bf4-b33c2fbdd1af.png)

[2020-09-30 17:41] goliakshay357 commented on #50
That's weird..
In which resolution is the screenshot taken?

In my laptop: (Resolution Mentioned in each photo)
![image](https://user-images.githubusercontent.com/32712438/94720279-e1d5b900-0371-11eb-9e05-8a6c4944684b.png)
![image](https://user-images.githubusercontent.com/32712438/94720413-1184c100-0372-11eb-81c4-1b023918ca1c.png)
![image](https://user-images.githubusercontent.com/32712438/947204

[2020-09-30 17:45] CodeSarthak commented on #50
Ah, yes. I believe it a resolution-specific issue.

[2020-09-30 17:55] goliakshay357 commented on #72
@CodeSarthak Thanks for the notice. Good to know that this issue seems solved. But the content area doesn't seem responsive. Maybe you could work on that.
![image](https://user-images.githubusercontent.com/32712438/94721905-25312700-0374-11eb-8af3-995870fca686.png)

Thanks

[2020-09-30 19:14] deepak2431 commented on #72
@CodeSarthak Also please check once if it's not responsive for any other resolution? Make sure everything is completely responsive logo, nav-bar, header for this issue.

[2020-10-01 19:47] Codedude1 commented on #79
I wanna work on this. Is this taken?

[2020-10-01 19:49] goliakshay357 opened #91 "Need help In NODEJS"
- [ ] File structure management in db.
- [ ] AUTH using passport.js
- [ ] Saving notes and shareable unique link to view notes.

[2020-10-01 19:50] geeks5551 commented on #61
hey can I contribute to the advanced CSS styling like animation,transition ,translation ,flexbox,media query etc to make the issue more responsive?

[2020-10-01 19:58] geeks5551 commented on #66
hey can I make the button more responsive  with the help of box-model, box-sizing, animation, transition,translation, media query etc.?

[2020-10-01 20:07] AyonPal commented on #91
Looks interesting. Want to work on it

[2020-10-01 20:26] geeks5551 commented on #68
hey can I contribute to the above issue?i.e integrating JSON APIs with the current functionalities

[2020-10-01 20:40] geeks5551 commented on #63
hey can i contribute to the required plugin of todo list using js(jquery) as it is looking interesting

[2020-10-01 20:59] goliakshay357 commented on #79
@Codedude1 Sure you can work on this! :+1:

[2020-10-01 21:00] goliakshay357 commented on #79
Curious to know your proposed ideas on improving the README.md
Thanks

[2020-10-01 21:02] goliakshay357 commented on #61
@geeks5551  Sure :+1:

[2020-10-01 21:02] goliakshay357 commented on #61
Curious to know your ideas and pipeline.

[2020-10-01 21:03] goliakshay357 commented on #66
@geeks5551 Sure. You can do that.
@Findingone Can you coordinate with @geeks5551  regarding your updates and ideas?
Thanks

[2020-10-01 21:05] goliakshay357 commented on #60
@geeks5551 Sure :+1:
Curious to know your ideas and pipeline.
Thanks

[2020-10-01 21:07] goliakshay357 commented on #91
@AyonPal Thanks for your interest. Can you please join our IRC channel for further discussion?
Link: https://gitter.im/canvasbird/canvasboard-frontend
Thanks

[2020-10-01 21:09] goliakshay357 commented on #68
@geeks5551 Sure :+1:
We need to remove the existing code in that component and change it accordingly.
We are open for suggestions and Improvements.

Can you please join our IRC Channel for further discussion?
Link: https://gitter.im/canvasbird/canvasboard-frontend
Thanks.

[2020-10-01 21:10] goliakshay357 commented on #63
@geeks5551 Thanks for your Interest. This issue is really interesting to work on.
Curious to know your future Ideas and pipeline.
Please feel free to have discussion on this in the IRC channel mentioned.

LINK: https://gitter.im/canvasbird/canvasboard-frontend
Thanks.

[2020-10-01 21:13] geeks5551 commented on #88
hey, can I contribute to the required UI/UX design? using SCSS and advanced CSS using animation, translation, and transition etc?

[2020-10-01 21:14] geeks5551 commented on #87
hey, can I add the required tooltip feature?

[2020-10-01 21:16] geeks5551 commented on #86
hey, can I add the required user laser pen feature?

[2020-10-01 21:18] geeks5551 commented on #69
hey, can I add features description on the homepage?

[2020-10-01 21:20] geeks5551 commented on #62
hey can i add Warning while refreshing if user does not save the page?

[2020-10-01 21:20] goliakshay357 commented on #69
@geeks5551 Yes sure.
Can you join our gitter channel for further discussions on improvements.

Thanks.

[2020-10-01 21:26] geeks5551 commented on #75
hey can i contribute towards redirecting the Contribute button to canvasboard github page.

[2020-10-01 21:27] geeks5551 commented on #78
hey can i assign the user guide for plugin??

[2020-10-01 21:30] geeks5551 commented on #76
hey can i add required filter files for searching

[2020-10-01 21:31] geeks5551 commented on #61
ya sure , so can you please assign me this issue

[2020-10-01 21:33] goliakshay357 commented on #61
Sure.
Can you please join our IRC channel for further discussion?
Link: https://gitter.im/canvasbird/canvasboard-frontend
Thanks

[2020-10-01 21:33] geeks5551 commented on #81
hey can I add the required functionality to the  of adding draggable shapes on canvas board using advanced css features like animation, transition, translation , media query , flexbox etc

[2020-10-01 21:34] geeks5551 commented on #77
hey can I integrate the required big blue button

[2020-10-01 21:36] geeks5551 commented on #61
okk sure will do that

[2020-10-01 21:39] geeks5551 commented on #61
but please assign me with this issue first so that I can start with the work ?

[2020-10-01 21:40] geeks5551 commented on #80
hey can i add the required CI/CX with GitHub actions

[2020-10-01 21:42] geeks5551 commented on #83
hey can i contribute to the required Saving all the canvas pages in form of JSON?

[2020-10-02 05:13] deepak2431 commented on #88
@geeks5551 You have commented on multiple issues to work on. We would suggest you to pickup one issue once its solved than move to the next one. Let us know on which issue you want to work on.

[2020-10-02 07:54] vijay-jaisankar opened #93 "Password Strength Classifier"
We can make a password strength classifier using an existing dataset like https://www.kaggle.com/bhavikbb/password-strength-classifier-dataset.

Then, when a user attempts to sign up with a weak password(as measured by this classifier), he/she will be told to enter a stronger one.

[2020-10-02 08:02] goliakshay357 commented on #93
Sure :+1:
There are pretty good NPM packages for this. Checkout!

[2020-10-02 08:03] vijay-jaisankar commented on #93
Nice!

[2020-10-02 09:33] #74 closed

[2020-10-02 10:02] goliakshay357 opened #95 "Adjusting Eraser size."
Buttons to Change the eraser size as per the requirements.

[2020-10-02 10:09] #82 closed

[2020-10-02 10:44] goliakshay357 opened #97 "Fix Home screen CSS issue in mobile"
![image](https://user-images.githubusercontent.com/32712438/94915275-3724de00-04ca-11eb-88e9-fc9c78fe8692.png)
Component: home
path: components/home
redirect: /home

[2020-10-02 10:56] alinebrito commented on #95
Hi @goliakshay357, can I get this issue too? (I worked on issue #82)

[2020-10-02 11:19] goliakshay357 commented on #95
Sure :+1:

[2020-10-02 11:19] goliakshay357 commented on #95
You could add different size boxes in the toolbar
Thanks

[2020-10-02 11:21] goliakshay357 commented on #95
Can you please join our gitter channel for further communications.
Link: https://gitter.im/canvasbird/canvasboard-frontend
Thanks

[2020-10-02 12:56] Findingone commented on #66
![ezgif com-gif-maker](https://user-images.githubusercontent.com/54023582/94925389-c3400100-04dc-11eb-8bbe-c34a6cde9339.gif)
@goliakshay357 Here is the GIF for the problem.

[2020-10-02 13:34] goliakshay357 commented on #66
@Findingone Can you please join the IRC channel for further communication.
Thanks

[2020-10-02 14:32] goliakshay357 commented on #68
@geeks5551 . Are you working on this issue?

[2020-10-02 14:39] IzacVrushabh commented on #97
I would love to work on it , can you assigned to me ?

[2020-10-02 14:42] IzacVrushabh commented on #88
if someone is not assigned , can you assign to me ?

[2020-10-02 15:38] goliakshay357 commented on #97
Sure @IzacVrushabh :+1:

[2020-10-02 15:42] goliakshay357 commented on #97
Please feel free to shoot out your ideas and artwork in the IRC channel mentioned in the README.md
At the same time... please feel free to checkout Issue #69  and #88

Thanks

[2020-10-02 15:44] goliakshay357 commented on #66
Seems like you need to take the latest pull before working.

[2020-10-02 20:55] IzacVrushabh commented on #97
I am working on this responsive part , Can you share the link of IRC channel , so that I can share my ideas . I have some amazing ideas.

[2020-10-03 07:58] goliakshay357 commented on #79
@Codedude1 are you taking up this issue?

[2020-10-03 08:04] goliakshay357 commented on #97
That sounds Interesting!
Curious to know your ideas and artwork.
Link:https://gitter.im/canvasbird/canvasboard-frontend

Thanks

[2020-10-03 14:21] IzacVrushabh commented on #97
Hey , I found that #97 and #73  , both are same issue ,you also assigned someone for #73 issue , so I'm un-assigning myself .
Thankyou.

[2020-10-03 18:50] Findingone commented on #66
yeah sure I'll join the channel

[2020-10-04 09:07] #73 closed

[2020-10-04 09:14] vijay-jaisankar commented on #79
@Codedude1 Are you interested to collaborate on the documentation part?
I was thinking of making a user guide for new users of Canvasboard

[2020-10-04 09:16] #75 closed

[2020-10-04 10:19] goliakshay357 opened #104 "Remove Overflow along X Axis."
Remove Overflow along X Axis in Contribution page
Resolution: Mobile
Component: contribution
Redirect: /contribution

![image](https://user-images.githubusercontent.com/32712438/95012812-2a82c000-0659-11eb-83e6-ba50983e4b95.png)

[2020-10-04 10:21] goliakshay357 commented on #50
@CodeSarthak are you working on this issue?

[2020-10-04 10:23] goliakshay357 commented on #97
We are sorry for the duplicates. But #73 is closed.
You can maybe work on #104 and #50 on the contribution page

Suggestions and Improvements are highly appreciated in open source. Please feel free to start a conversation in our IRC channel.

[2020-10-04 18:10] #58 closed

[2020-10-04 19:36] goliakshay357 commented on #52
Solved

[2020-10-04 19:36] #52 closed

[2020-10-05 21:46] karma200020 commented on #104
Can I work on this?

[2020-10-06 03:42] goliakshay357 commented on #104
Sure @karma200020 👍

[2020-10-06 09:28] jawsvk commented on #68
@goliakshay357 I am also interested to tackle this. Could you assign it to me? Or is @geeks5551 working on this? It seems like he is interested in a lot of issues in this repo

[2020-10-06 11:17] goliakshay357 commented on #68
@jawsvk Sure :+1:
You can take up this issue

Thanks

[2020-10-06 11:18] goliakshay357 commented on #68
@jawsvk, can you please join our IRC Channel for further discussion?
Link: https://gitter.im/canvasbird/canvasboard-frontend
Thanks.

[2020-10-07 20:29] karma200020 opened #106 "Alert on providing wrong credentials."
- the expected behaviour
 There should be an alert to make the user understand why he is not able to log in using his current credentials.
- the observed behaviour
There is no alert if the user enters wrong credential informing him about the issue.
- steps to reproduce the problem
Logging in using the incorrect credentials.

On the other hand, if you'd like to propose a new feature:
- An alert dis

[2020-10-08 04:46] #104 closed

[2020-10-08 05:22] goliakshay357 opened #108 "Alert for verifying email ID"
![image](https://user-images.githubusercontent.com/32712438/95418094-556c5d00-0954-11eb-8f61-25b97f16c5cb.png)
Alert for verifying email ID while login

[2020-10-08 05:43] #97 closed

[2020-10-08 05:44] goliakshay357 commented on #84
hey @lucassorenson,
Are you working on this issue?

[2020-10-08 05:46] #72 closed

[2020-10-08 05:46] #91 closed

[2020-10-08 05:49] goliakshay357 commented on #85
Hi @SkullCarverCoder,

Are you working on this issue?

[2020-10-08 06:01] goliakshay357 opened #109 "Add blue and green background cards as a plugin"

[2020-10-08 06:03] BukkaNikhilSai commented on #109
@goliakshay357 can I work on this.

[2020-10-08 06:04] goliakshay357 commented on #109
Sure :+1:

[2020-10-08 06:11] goliakshay357 opened #110 "Options for container and container fluid"
Options for container and container fluid bootstrap.

[2020-10-08 10:06] goliakshay357 opened #111 "Add Handwriting font as a plugin"
Add Handwriting font as a plugin
Source: Google fonts

[2020-10-08 10:08] goliakshay357 opened #112 "Add coding font as a plugin"
source: Google fonts

[2020-10-08 10:53] #112 closed

[2020-10-08 10:53] goliakshay357 opened #113 "Add Playfair font as a plugin"
https://fonts.google.com/specimen/Playfair+Display

[2020-10-08 11:09] goliakshay357 opened #114 "Toolbox is default by display block."
Toolbox is default by display block when you add the block

[2020-10-08 11:13] goliakshay357 commented on #114
![image](https://user-images.githubusercontent.com/32712438/95451381-54075880-0985-11eb-9b0e-52781ca17665.png)
![image](https://user-images.githubusercontent.com/32712438/95451431-62ee0b00-0985-11eb-8738-0ac61a82df1f.png)

[2020-10-08 11:15] goliakshay357 opened #115 "button to remove all fonts and get to normal"

[2020-10-08 11:21] goliakshay357 opened #116 "Add canvasboard logo"
Add canvasboard logo beside the title in navbar
![image](https://user-images.githubusercontent.com/32712438/95452129-6d5cd480-0986-11eb-9fea-71c6f2ad2b9b.png)

[2020-10-08 11:31] goliakshay357 opened #117 "Center Aligned Plugin"
Center align the text inside the cards

[2020-10-08 11:32] goliakshay357 opened #118 "Left Aligned Plugin"
Left align the text inside the cards

[2020-10-08 11:34] goliakshay357 opened #119 "Right align the text inside the cards"
Center align the text inside the cards

[2020-10-08 12:15] matheusmosca commented on #116
Hey, can I work on this one? :smile_cat::

[2020-10-08 12:28] goliakshay357 commented on #116
@matheusmosca Sure :+1:

[2020-10-08 12:29] goliakshay357 commented on #116
![image](https://user-images.githubusercontent.com/32712438/95458567-f4627a80-098f-11eb-84fd-8e0880cc237c.png)
Something like this

[2020-10-08 12:36] matheusmosca commented on #116
Ok! I'll probably send a PR at the end of the day.

[2020-10-08 13:15] SkullCarverCoder commented on #85
Yes ! I am , sorry for taking so long I would be making the pull request associated with this on the weekend , have been tweaking some stuff between working hours 😅but on the weekend I should finish and test everything.

[2020-10-08 15:12] goliakshay357 commented on #85
Hey @SkullCarverCoder,
Not at all a problem. You can always contribute to the open issues at your time of convenience :smiley:

Thanks

[2020-10-08 17:24] alexandramj92 commented on #119
I am interested. Can you assign me to this issue? Thanks!

[2020-10-08 17:47] danielochka commented on #108
Can you tell me more info about it?

[2020-10-08 19:30] goliakshay357 commented on #108
Hi @danielochka ,
When a user signs up for the first time. He needs to verify his email (A mail will be sent to that email ID) before he makes a login.
This is the JSON given from backend when the user did not verify his email ID.

Issue:
Whenever this JSON is coming... A alert has to be given to the user to verify his email so he can login. This is something like Verify email address popup.

[2020-10-08 19:32] goliakshay357 commented on #119
Hi @alexandramj92 , Sure :+1:

[2020-10-08 19:35] goliakshay357 commented on #119
@alexandramj92 ,
This is a plugin based issue...
1) Add the functionality button in toolbox.
2) Create the required class and export it to new-board component

Please feel free to join our IRC channel for further communication.
Thanks

[2020-10-09 00:26] matheusmosca commented on #108
Hi, I'd like to solve it. Could you assign it to me?

[2020-10-09 06:02] #116 closed

[2020-10-09 06:14] #108 closed

[2020-10-09 06:43] goliakshay357 opened #123 "User not found popup alert"
![image](https://user-images.githubusercontent.com/32712438/95551622-c67d4480-0a28-11eb-8319-c7c18143d741.png)
User not found popup alert while login

[2020-10-09 08:12] matheusmosca commented on #123
Hi there, can i fix this one too?

[2020-10-09 12:03] goliakshay357 commented on #123
Sure :+1:

[2020-10-09 12:10] #123 closed

[2020-10-09 13:49] saidhanush1212 commented on #114
@goliakshay357 Can I solve this issue

[2020-10-09 13:50] goliakshay357 commented on #114
Sure :+1:

[2020-10-09 13:59] #114 closed

[2020-10-09 14:39] shrey27tri01 commented on #115
Hello!
Can I work on this issue?

[2020-10-09 18:52] #95 closed

[2020-10-09 21:52] fhavrlent commented on #111
@goliakshay357
How about this one? https://fonts.google.com/specimen/Kalam?query=Kalam&preview.text=Samle%20text&preview.text_type=custom

[2020-10-10 06:06] #113 closed

[2020-10-10 06:25] #83 closed

[2020-10-10 07:50] goliakshay357 opened #132 "Fix navbar position while scroll"
![image](https://user-images.githubusercontent.com/32712438/95649508-5095dd80-0afb-11eb-9a84-7b020964df8d.png)

component: new-board
path: /creative-board

[2020-10-10 16:52] #132 closed

[2020-10-11 00:11] alinebrito commented on #7
Hi @goliakshay357 , can I get this issue?

[2020-10-11 02:54] goliakshay357 commented on #7
sure :+1:

[2020-10-11 03:01] goliakshay357 opened #135 "logout button"

[2020-10-11 03:13] matheusmosca commented on #135
Hi @goliakshay357 , can i work on this issue?

[2020-10-11 15:44] goliakshay357 commented on #135
Sure! :+1:

[2020-10-12 05:59] #7 closed

[2020-10-17 07:41] #135 closed

[2020-10-19 01:50] #50 closed

[2020-10-19 02:43] goliakshay357 commented on #68
@jawsvk are you working on this issue?

[2020-10-19 05:36] jawsvk commented on #68
@goliakshay357 yes, it is still on my radar, but as I an quite occupied with work the last 2 weeks, I only have time to focus on this on the weekends. Will raise a PR by this weekend.

Is that alright?

[2020-10-19 07:58] goliakshay357 commented on #68
Yeah sure...
Anytime :)

[2020-10-20 22:26] goliakshay357 opened #143 "Building a Chrome extension"
Building a chrome extension which has all the plugins built for Canvasboard.

[2020-10-23 00:44] goliakshay357 opened #144 "Update Home page UI"
![image](https://user-images.githubusercontent.com/32712438/96944330-2e875c80-14f8-11eb-9609-0820b17c7723.png)
![image](https://user-images.githubusercontent.com/32712438/96944353-3c3ce200-14f8-11eb-9938-6fa5d32dc61b.png)
![image](https://user-images.githubusercontent.com/32712438/96944376-47900d80-14f8-11eb-8d45-d353634b6907.png)

[2020-10-23 00:47] goliakshay357 commented on #119
@alexandramj92 are you working on this issue?

[2020-10-23 11:23] kingavatar commented on #118
Done!

[2020-10-23 11:24] kingavatar commented on #117
Done!

[2020-10-23 11:40] goliakshay357 opened #146 "ts lint issues"

[2020-10-23 11:56] #117 closed

[2020-10-23 11:56] #118 closed

[2020-10-23 11:56] #119 closed

[2020-10-23 11:56] #146 closed

[2020-10-23 12:09] kingavatar commented on #87
can i work on this feature?

[2020-10-23 12:10] goliakshay357 commented on #87
Sure @kingavatar

[2020-10-23 12:12] goliakshay357 opened #148 "Colour cards issue"

[2020-10-23 12:13] kingavatar commented on #148
can i work on this issue?

[2020-10-23 12:13] goliakshay357 commented on #148
Suree

[2020-10-23 13:16] kingavatar opened #149 "refactoring plugin code into each individual plugin file"

[2020-10-23 13:50] kingavatar commented on #148
Done. Please check the merge request.

[2020-10-23 14:30] #148 closed

[2020-10-23 15:29] kingavatar opened #151 "Add Delete Button in Basic Tools"
Add Delete button in basic tools for easy deleting of Cards.

[2020-10-23 17:07] #149 closed

[2020-10-23 17:34] kingavatar opened #153 "Add top bottom button to basic tools"
`Add top, bottom buttons in toolbox as well which are present in toolbar.`

[2020-10-24 00:04] #151 closed

[2020-10-24 02:42] goliakshay357 opened #156 "Clearing the ng lint errors"

[2020-10-24 14:10] #153 closed

[2020-10-25 11:37] validity-check commented on #156
Will try taking this.

[2020-10-25 23:34] goliakshay357 commented on #156
@validity-check, Sure!

[2020-10-27 04:21] #87 closed

[2020-10-27 04:22] #109 closed

[2020-10-27 04:23] kingavatar commented on #80
Can you assign this task to me?

[2020-10-27 04:24] goliakshay357 commented on #80
Sure @kingavatar

[2020-10-27 05:53] goliakshay357 commented on #111
@fhavrlent looks good to me.

[2020-10-27 05:53] goliakshay357 commented on #115
Sure @shrey27tri01

[2020-10-27 05:54] goliakshay357 commented on #115
This is actually removing all the applied fonts and getting to default

[2020-10-28 07:54] goliakshay357 opened #160 "Merge before and after block function"

[2020-10-28 07:59] kingavatar commented on #160
Can u assign it to me ?

[2020-10-28 08:28] goliakshay357 commented on #160
Sure!

[2020-10-28 18:35] validity-check commented on #156
Nearly done. Should have a PR done by the end of today.

[2020-10-29 01:26] goliakshay357 commented on #156
Awesome!
That sounds good. Thanks

[2020-10-29 11:12] validity-check commented on #156
#161

[2020-10-30 05:59] #156 closed

[2020-10-30 19:23] kingavatar commented on #115
I will work on this?

[2020-10-30 19:25] #106 closed

[2020-10-30 19:29] kingavatar opened #165 "Showing workspace path on creative board"
Showing workspace path on creative board.

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-10-31 03:25] #80 closed

[2020-10-31 03:37] goliakshay357 commented on #144
We are open for suggestions. :)

[2020-10-31 03:41] goliakshay357 opened #167 "Add Google login"
**Is your feature request related to a problem? Please describe.**
Login via google is not working.

**Describe the solution you'd like** 💡
Need to integrate it with the API provided in the backend postman docs.

**Additional context**
![image](https://user-images.githubusercontent.com/32712438/97770414-0da6b300-1b59-11eb-96c9-0e38147dee3d.png)

[2020-10-31 03:42] goliakshay357 commented on #115
Go on!

[2020-10-31 03:56] goliakshay357 opened #168 "Time Tracker Plugin."
**Is your feature request related to a problem? Please describe.**
It would be better if there is a plugin which tracks your activity time and helps you for managing better activity

**Additional context**
This is something like a stopwatch plugin which tracks your time.

[2020-10-31 03:56] goliakshay357 commented on #168
Open for discussions :)

[2020-10-31 04:13] goliakshay357 opened #169 "Adding Folders API"
Adding Folders API to the frontend

[2020-10-31 04:14] goliakshay357 opened #170 "Adding files API"
Adding files API to the frontend.

[2020-10-31 04:14] goliakshay357 opened #171 "Saving the files in the form of JSON"

[2020-10-31 08:52] kingavatar opened #172 "Clear Background not working in Board Component"
**Describe the bug** 🐛
A clear and concise description of what the bug is.
In Board Component clear background is not working
**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'board'
 2. Click on 'graph background'
 3. Click on 'white background'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise des

[2020-10-31 08:52] himeshkrishnaosuri commented on #172
I will fix this

[2020-10-31 08:52] kingavatar commented on #172
Sure i will assign it to you.

[2020-10-31 09:05] #172 closed

[2020-10-31 09:36] kingavatar opened #175 "Toolbox en output"
**Describe the bug** 🐛
A clear and concise description of what the bug is.

In Board while using any pen when run on toolbar produces unnecessary output on canvas.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'board'
 2. Click on 'pen'
 3. write on to 'toolbox'
 4. See error

**Observed behavior**
A clear and concise description of what you have observed.

Toolbox is accepting pen

[2020-10-31 11:43] #160 closed

[2020-10-31 13:27] #115 closed

[2020-10-31 14:26] #111 closed

[2020-10-31 19:45] kingavatar commented on #61
Duplicate of #159

[2020-10-31 19:45] #61 closed

[2020-11-01 06:48] #53 closed

[2020-11-01 06:48] #54 closed

[2020-11-01 18:41] #49 closed

[2020-11-02 20:24] IkerOrtega commented on #167
Hello,
I'm interested on woking on this issue.
Can I claim it?
If yes, do I need to do another step to claim it?
Thanks.

[2020-11-02 21:23] matheusmosca opened #182 "Sign up and login form are compressed by reducing screen width"
**Describe the bug** 🐛
The sign-up/sign-in form is compressed in a specific width

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/login' or '/sign-up'
 2. Reduce the width resolution slowly and see the error

**Observed behavior**
A clear and concise description of what you have observed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scree

[2020-11-02 21:33] matheusmosca opened #183 "Unauthenticated users are able to access authenticated routes"
**Describe the bug** 🐛
Unauthenticated users are able to access authenticated routes such as '/dashboard' and '/files'

**Desktop (please complete the following information; delete this section if the issue does not arise on desktop):**
 - OS: Ubuntu 18.04
 - Browser Firefox 82.2

**Additional context**
Add any other context about the problem here.

[2020-11-02 22:09] matheusmosca opened #184 "save and exit buttons are overlapping the sidebar"
**Describe the bug** 🐛
The save and exit buttons are overlapping the sidebar menu.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/board'
 2. See the error in the sidebar

**Screenshots**
![Screenshot_2020-11-02 Canvasboard](https://user-images.githubusercontent.com/42419282/97922631-8cf3dc80-1d3b-11eb-8e6b-8e4850465dcd.png)

***

**Desktop1
 - OS: Ubuntu 18.04
 - Browser Firefox 82

[2020-11-02 22:14] matheusmosca opened #185 "Add the Canvasboard logo into the board sidebar"
![image](https://user-images.githubusercontent.com/42419282/97925040-764f8480-1d3f-11eb-8bfe-5a439ba674fd.png)

[2020-11-03 03:07] goliakshay357 commented on #167
@IkerOrtega, Sure!

[2020-11-03 04:47] goliakshay357 opened #186 "Wrong autofill in sign up page"
**Describe the bug** 🐛
![image](https://user-images.githubusercontent.com/32712438/97950704-cff69400-1dbd-11eb-812e-11a33dbf0da5.png)
Wrong autofill in sign up page

[2020-11-03 09:34] IkerOrtega commented on #167
Hello,
As per the google guide: https://developers.google.com/identity/sign-in/web/sign-in
I need the client id of the project / company to implement the login.
Thanks.

[2020-11-05 15:43] kingavatar opened #187 "Add git hooks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. It would be better if [...]

Adding git hooks using husky will eliminate the need to run lint and test every time before commit and push

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

**Describe alternatives you've cons

[2020-11-05 15:50] #187 closed

[2020-11-05 16:19] #185 closed

[2020-11-10 12:25] goliakshay357 commented on #167
Hello @IkerOrtega ,
Sorry for the late reply. We will be using the Google OAUTH with the following URL. A token will be genarated on successfull login with google

ENDPOINT: https://api.canvasboard.live/google

[2020-11-10 14:28] #144 closed

[2020-11-10 14:48] goliakshay357 commented on #167
Please take the latest pull request which working.
Thanks

[2020-11-10 19:06] goliakshay357 opened #192 "Saving the Plugin Data"
**Project Title:** Saving the Plugin Data

**Short Description:**
Saving the plugins data in the backend so files can be revisited or edited again.

**Skills:** Angular, HTML, SCSS, Typescript

**Skill level:** Medium

[2020-11-10 19:09] goliakshay357 opened #193 "Web page for Plugins Details"
**Project Title:** Web page for Plugins Details

**Short Description:**
As the number of plugins increase in the platform. It important for the users to know all our interactive plugins within the platform

**Mentors:**
Frontend: @goliakshay357 @Kajol-Kumari
Backend: @asishraju

**Skills:** NODEJS, Express, Mongodb, Angular
**Skill level:** Easy

[2020-11-10 19:12] goliakshay357 opened #194 "Build Interactive Plugins"
**Project Title:** Build Interactive Plugins

Plugins:

- [ ] Get Interactive graphs on upload of CSV or JSON ⭐⭐⭐⭐⭐
- [ ] Adding todo Plugin ⭐⭐⭐⭐⭐
- [ ] Spotify plugin ⭐⭐⭐
- [ ] Bookmark Plugin ⭐⭐⭐
- [ ] Kanban charts Plugin ⭐⭐⭐
- [ ] Spreadsheet ⭐⭐
- [ ] Adding Image ⭐⭐
- [ ] Emoji adder ⭐⭐

**Mentors:** @kingavatar @goliakshay357 @Kajol-Kumari
**Skills:(commonly)** Angular, HTML, SCSS, Typescrip

[2020-11-10 19:13] goliakshay357 opened #195 "Making the demo page"
Making a demo page for the new users to test out the platforms with few plugins.

[2020-11-10 19:15] goliakshay357 commented on #167
Hello @IkerOrtega ,

Just curious to know how we can know the UID send to backend is verified?

[2020-11-11 06:14] goliakshay357 opened #196 "Adding folder structure from API docs"
Adding folder structure from API docs for user to create his own workspace.

[2020-11-11 07:15] goliakshay357 opened #197 "Forgot Password"
Adding Forgot Password functionality.

[2020-11-13 13:51] goliakshay357 opened #198 "Adding Daily quote"
Adding daily quotes in the bottom of the page

Location: /dashboard

[2020-11-15 14:53] #196 closed

[2020-11-16 07:09] goliakshay357 opened #201 "Pin Folder feature"
**Is your feature request related to a problem? Please describe.**
What if a user has many work-spaces(folders)? It's important to have a pin a workspace(folder) so user can access all the important workspace(folder) faster.

**Describe the solution you'd like** 💡
Adding a key and value related to pin in incoming JSON (from backend) and add it on dashboard accordingly.

**Additional context**
loca

[2020-11-16 07:10] #169 closed

[2020-11-16 07:11] #69 closed

[2020-11-17 09:27] DevoAbhi commented on #24
I want to work on this issue. Can I be assigned?

[2020-11-17 14:41] goliakshay357 commented on #24
Yeah sure!
Please go ahead.

[2020-11-18 08:55] DevoAbhi commented on #184
I have worked on this issue.
Please see the attached screenshot for the same.
<img width="960" alt="cavasboard_buttons_alligned" src="https://user-images.githubusercontent.com/54373853/99507843-e863d280-29a9-11eb-9863-f639d651139d.PNG">

[2020-11-18 09:41] goliakshay357 opened #203 "Adding demo page"
Adding demo page with limited plugins. So the user can test the app without login.

[2020-11-18 10:01] goliakshay357 opened #204 "Rename workspace"
functionality to Rename the workspace(folder) in the dashboard.

If the user wants to change the name of the workspace, then the user can click on the rename functionality to do it.
location: /dashboard
![image](https://user-images.githubusercontent.com/32712438/99515520-11d52c00-29b3-11eb-92b2-45d899920e14.png)

[2020-11-18 10:45] goliakshay357 opened #205 "Import PPT Plugin"
Import PPT into cards plugin for creative board.

[2020-11-18 16:16] #184 closed

[2020-11-20 06:56] DevoAbhi opened #207 "The exit button does not have any function."
**Describe the bug** 🐛
The exit button in board component does not have any function. It does not navigate to any other route.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to '/board'
 2. Scroll down to 'Exit'
 3. See error

**Observed behavior**
The Exit button does not navigate to any other route.

**Expected behavior**
The Exit button when clicked should navigate to the previous ro

[2020-11-20 06:59] DevoAbhi commented on #207
I have solved this issue as now after clicking the exit button, it navigates to the previous route , i.e., /folder/id

[2020-11-20 19:49] #207 closed

[2020-11-20 19:53] goliakshay357 opened #209 "Integrating files CREATE and GET API"
Integrating files CREATE and GET API for the files component.

[2020-11-21 06:46] goliakshay357 opened #210 "Web page for Plugins Details"
**Is your feature request related to a problem? Please describe.**
Web page for Plugins Details

**Additional context**
As the number of plugins increase in the platform. It important for the users to know all our interactive plugins within the platform

[2020-11-21 06:50] goliakshay357 opened #211 "Check your email [Prompt] after sign up"
**Is your feature request related to a problem? Please describe.**
Check your email Prompt when a new users signs up

**Additional context**
Update the existing prompt text. It is important for a user to confirm his email address before login.

[2020-11-21 06:53] goliakshay357 opened #212 "Auto Fill issue"
**Describe the bug** 🐛
Auto Fill issue in the sign up page

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to sign up page
 2. Notice the wrong auto fills

**Observed behavior**
Email is coming in the username input

**Expected behavior**
Email should come in the email input

[2020-11-21 06:54] goliakshay357 opened #213 "Remove institute name in signup page"
**Is your feature request related to a problem? Please describe.**
Remove institute name in the signup page as it is no longer needed

Component: SignUpComponent

[2020-11-21 06:57] goliakshay357 opened #214 "Remove forgot password from sign up page"
**Describe the bug** 🐛
Remove forgot password from sign up page as it is no longer needed.

[2020-11-21 19:44] DevoAbhi commented on #213
I can work on this issue.

[2020-11-21 19:44] DevoAbhi commented on #214
I can work on this issue.

[2020-11-21 21:25] DevoAbhi opened #215 "Add a confirmation box on click of exit button."
**Is your feature request related to a problem? Please describe.**
If the user clicks the exit button in the board component, it navigates to the previous route even if the user has unsaved data present.

**Describe the solution you'd like** 💡
A solution for this can be a confirmation box that appears after clicking the exit button if the user has some unsaved data. If user has no unsaved data, th

[2020-11-21 21:26] DevoAbhi commented on #215
I would like to work on this issue.

[2020-11-23 06:05] goliakshay357 opened #217 "User details in the dashboard"
**Is your feature request related to a problem? Please describe.**
User details in the dashboard should be dynamic.

**Describe the solution you'd like** 💡
Send the required details in the dashboard API.

[2020-11-23 06:11] goliakshay357 opened #218 "More options in folders div"
**Is your feature request related to a problem? Please describe.**
More options in when clicked on folder's menu.
Details to add:
- [ ] Delete folder
- [ ] Last updated
- [ ] Created on
**Describe the solution you'd like** 💡
* Get the required details from the API and display them dynamically.
* For Delete use the Delete folder API

Current UI
![image](https://user-images.githubusercontent.com/327

[2020-11-23 06:13] goliakshay357 opened #219 "Functionality to rename folder name"
**Is your feature request related to a problem? Please describe.**
Rename folder

**Describe the solution you'd like** 💡
Call the rename API to rename the folder

location: /dashboard

[2020-11-23 06:16] goliakshay357 commented on #215
Hello @DevoAbhi ,
The BoardComponent [i.e version1 board] is now adapted to the creative board as a plugin.

Thanks.

[2020-11-23 06:20] goliakshay357 opened #220 "Logout in mobile resolution"
**Describe the bug** 🐛
- [ ] Logout button should be inside the navigation bar in mobile resolution.
- [ ] Change logout from Button to li
![image](https://user-images.githubusercontent.com/32712438/99933763-f8046200-2d81-11eb-9988-524fde62cf95.png)
![image](https://user-images.githubusercontent.com/32712438/99933817-1bc7a800-2d82-11eb-8d8a-d5e93000b1df.png)

[2020-11-23 06:23] goliakshay357 opened #221 "Navigate to Dashboard if AUTH token is not expired"
**Describe the bug** 🐛
Direct Navigate to Dashboard if user AUTH token is not expired

[2020-11-23 06:24] goliakshay357 opened #222 "Folder colour dynamically"
**Is your feature request related to a problem? Please describe.**
Change folder colour

**Describe the solution you'd like** 💡
Integrate it with the colour given in the JSON which is received by the DASHBOARD API

[2020-11-23 06:37] #214 closed

[2020-11-23 06:38] #213 closed

[2020-11-24 20:29] DevoAbhi commented on #215
@goliakshay357 Great! Noted.

[2020-11-25 11:39] #209 closed

[2020-11-25 22:35] DevoAbhi commented on #220
Can I work on this issue?

[2020-11-26 23:16] matheusmosca commented on #221
I would like to solve this issue! Could you assign it to me?

[2020-11-27 06:03] #220 closed

[2020-11-27 06:27] goliakshay357 commented on #221
Sure!

[2020-11-27 19:36] #212 closed

[2020-12-01 09:02] subhangi2731 commented on #222
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:03] subhangi2731 commented on #219
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:05] subhangi2731 commented on #218
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:06] subhangi2731 commented on #217
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:08] subhangi2731 commented on #215
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:09] subhangi2731 commented on #211
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:10] subhangi2731 commented on #204
can you please assign this issue to me? @goliakshay357

[2020-12-01 09:19] subhangi2731 commented on #201
can you please assign this issue to me? @goliakshay357

[2020-12-01 10:21] subhangi2731 commented on #195
can you please assign this issue to me? @goliakshay357

[2020-12-01 10:24] subhangi2731 commented on #171
can you please assign this issue to me? @goliakshay357

[2020-12-01 10:27] subhangi2731 commented on #170
can you please assign this issue to me? @goliakshay357

[2020-12-01 12:50] Kajol-Kumari commented on #211
Hey @subhangi2731 please don't comment on each issue. Comment at maximum 2 issues at a time. I am assigning this issue to you. Also if you are an NJACK/NWoC participant, please mention it in the PR that you will be opening for this.

Happy learning :)

[2020-12-01 15:11] karnikanay commented on #203
I will like to work on this.

[2020-12-01 15:21] Kajol-Kumari commented on #203
sure @karnikanay. You can go ahead with this issue.Assigning it to you.

Happy Learning :)

[2020-12-01 17:12] chehak123 commented on #222
Can you pls assign this to me?

[2020-12-01 17:45] Aditiwebd commented on #167
If Is this issue still open, I would like to work on this @goliakshay357

[2020-12-01 18:00] goliakshay357 commented on #167
Yes sure @Aditiwebd,
Please go ahead :smiley:

[2020-12-01 18:06] goliakshay357 commented on #167
Hey @Aditiwebd,
One of my teammate is already working in this issue. Can you please choose others. Please feel free to join our Slack channel for further communications and interactions with our community regarding issues and development.
Thanks

[2020-12-01 18:09] likhithnemani commented on #167
Almost done, I'll make a PR soon

[2020-12-01 18:20] Aditiwebd commented on #167
Oh not a problem. I will look for another one :smile: Thank you

[2020-12-01 22:38] DevoAbhi commented on #186
@goliakshay357 I think this issue is already solved in the PR - #225.
Thank you.

[2020-12-01 22:41] #186 closed

[2020-12-01 22:41] goliakshay357 commented on #186
Yes
Thanks for the notice🙂

[2020-12-01 22:43] goliakshay357 commented on #222
@chehak123 sure, go ahead.
Please feel free to join our slack channel for further communications and improvements.

Thanks

[2020-12-01 22:46] DevoAbhi commented on #186
Thank you,

[2020-12-03 21:04] #8 closed

[2020-12-03 21:05] #4 closed

[2020-12-03 21:05] #5 closed

[2020-12-03 21:05] #6 closed

[2020-12-03 21:05] #9 closed

[2020-12-03 21:05] #12 closed

[2020-12-03 21:06] #14 closed

[2020-12-03 21:06] #13 closed

[2020-12-03 21:06] #16 closed

[2020-12-03 21:07] #17 closed

[2020-12-03 21:07] #18 closed

[2020-12-03 21:07] #19 closed

[2020-12-03 21:07] #84 closed

[2020-12-04 17:41] anjali1102 commented on #197
i wanna work on it. assign me.

[2020-12-04 19:40] yashgautam9274 commented on #79
I want to work on this issue

[2020-12-04 20:27] goliakshay357 commented on #79
Thanks @yashgautam9274 for your interest. Looking forward to your contributions.

[2020-12-04 20:28] goliakshay357 commented on #197
Hey @anjali1102,
Thanks for your interest. Looking forward to your contributions.

[2020-12-04 20:33] #215 closed

[2020-12-04 20:34] goliakshay357 commented on #211
Hey @subhangi2731 ,
Are you working on this issue?

Thanks

[2020-12-04 20:35] #66 closed

[2020-12-04 20:37] goliakshay357 commented on #24
@DevoAbhi ,
Want to work on this issue?

[2020-12-06 14:27] DevoAbhi commented on #24
Yes, sure!

[2020-12-06 17:47] IshanManchanda commented on #221
@goliakshay357 I'd like to work on this.

[2020-12-06 21:06] goliakshay357 commented on #221
Hello @IshanManchanda,
Thanks for your interest. Looking forward to your contribution :smile: .

[2020-12-07 05:57] IshanManchanda commented on #221
@goliakshay357 I'm assuming routes 'home', 'login', and 'sign-up' should redirect to dashboard, is that right?

[2020-12-07 09:04] goliakshay357 commented on #221
Yes

[2020-12-07 11:21] #221 closed

[2020-12-08 07:55] IshanManchanda commented on #183
I'd like to work on this

[2020-12-08 08:11] goliakshay357 commented on #183
Hello @IshanManchanda ,
This seems to be solved. Can you please look into other issues?

Thanks.

[2020-12-08 08:11] #183 closed

[2020-12-08 17:13] m-code12 opened #233 "Add scroll animations to specific sections"
**Is your feature request related to a problem? Please describe.**
It would be better if we could add scroll animations to the block based editing,type and draw and custom plugins sections to keep our users engaged with our content. Animations will be used to focus users attention on what's important and will also show the flow of our website.

**Describe the solution you'd like** 💡
I would like t

[2020-12-09 14:32] goliakshay357 commented on #203
@karnikanay, Are you working on this issue?

[2020-12-09 14:52] goliakshay357 opened #234 "Files CRUD"
**Location:** Inside workspace [ folder/:id ]

**Tasks:**
1. Get all the files of a specific workspace from backend API and display it on frontend
2. Create a new file inside a workspace
3. Delete a file
4. Rename a file

[2020-12-09 14:54] goliakshay357 opened #235 "Slack invite page"

[2020-12-09 15:14] #217 closed

[2020-12-09 15:23] goliakshay357 opened #236 "Placeholders for input tags in signup page"
Placeholders for input tags in signup page

[2020-12-10 06:39] MegaMind77-coder commented on #219
Hello!
Do we need to change the board title or only the folder name ?

[2020-12-10 09:42] MegaMind77-coder commented on #234
@goliakshay357  could you pls explain the tasks a bit more ?

[2020-12-10 11:31] goliakshay357 commented on #234
Hey @MegaMind77-coder,
This issue is being solved by others, Can you please choose another one?

Thanks

[2020-12-10 11:31] #234 closed

[2020-12-10 12:49] MegaMind77-coder commented on #234
Sure!

[2020-12-10 13:13] MegaMind77-coder commented on #219
@goliakshay357 is issue number #204 the same?

Renaming the folder would be the same as renaming the workspace right?

[2020-12-10 13:51] MegaMind77-coder opened #238 "Delete button on keyboard not deleting writing when selected"
**Describe the bug** 🐛
A clear and concise description of what the bug is.
The Delete Button on the keypad does not work when the scribbled part to be deleted is selected.

**To Reproduce**
Steps to reproduce the behavior:
 1. Just open a board
 2. Scribble
 3. try to use a delete button after selecting some part of it

**Observed behavior**
Delete button is not functional on the board.

**Expecte

[2020-12-10 23:26] #219 closed

[2020-12-10 23:36] goliakshay357 opened #240 "Rename CSS issue"
![image](https://user-images.githubusercontent.com/32712438/101842664-8f352c00-3b6e-11eb-9d0d-f717a1380115.png)
Rename CSS issue in responsive screens

Problem: All should be in one single row.

[2020-12-10 23:38] goliakshay357 opened #241 "Rename CSS background"
Problem: When pressed edit... background color is white.
![image](https://user-images.githubusercontent.com/32712438/101842801-d91e1200-3b6e-11eb-96db-f11e50d85122.png)

Requirement: Make the background transparent.

[2020-12-11 13:00] jaggu21 opened #243 "Tutorial Guide"
**Is your feature request related to a problem? Please describe.**
Adding tutorial guide to the board would be very helpful for the first time users.

**Describe the solution you'd like** 💡
We can use a javascript library called `Driver.js` which can drive the user's focus across the page. It has great features and is easy to work with.This is the [Documentaion](https://kamranahmed.info/driver.js/

[2020-12-11 13:31] Rizwan-S opened #244 "Incorrect spelling"
![issue](https://user-images.githubusercontent.com/63736000/101909190-276cf880-3be3-11eb-8ca7-38a04a353add.png)

Spelling of "Description" is incorrect in "Create Workspace" section.

[2020-12-11 16:18] urvashi-code1255 commented on #110
@goliakshay357 Sir, Could you please elaborate this issue?

[2020-12-11 17:20] goliakshay357 commented on #243
This would be a great one to work on.

[2020-12-12 13:58] #240 closed

[2020-12-13 09:15] #238 closed

[2020-12-13 13:33] Vishal-raj-1 opened #251 "Contributors Image In Readme"
I think it is a great feature to add contributors image in README file. It really motivate to contributors. It is dynamically order the contributors.

![contrimga](https://user-images.githubusercontent.com/59874304/102012505-dd198200-3d70-11eb-8e1e-379f47ccd7e2.JPG)

If you want to this feature on README so I want to do this issue  !! 😄

[2020-12-13 14:42] Kajol-Kumari commented on #251
Hey @Vishal-raj-1 Thanks for proposing this idea. Please go ahead with this issue, just make sure that the images are linked with the contributors github profile.

Happy Coding :)

[2020-12-13 14:44] Kajol-Kumari commented on #241
Closing via [this](https://github.com/Canvasbird/canvasboard/pull/237) PR

[2020-12-13 14:44] #241 closed

[2020-12-13 16:49] Vishal-raj-1 commented on #251
Sure

[2020-12-13 20:38] #244 closed

[2020-12-14 01:25] goliakshay357 opened #255 "Image Slider in Home Page"
![image](https://user-images.githubusercontent.com/32712438/102030306-484a6f00-3dd8-11eb-944c-ba6ab5df84fd.png)

Automatic Image slider in home page:
**Images Link:**
Image1: src/assets/home/blocks.png
Image2: src/assets/home/slider_img2.png
Image3: src/assets/home/slider_img3.png

[2020-12-14 01:37] goliakshay357 opened #256 "Adding contributors on website"
Adding contributors on /contribution page
**Demo:**
![image](https://user-images.githubusercontent.com/32712438/102031129-040c9e00-3ddb-11eb-8b24-233db8d23193.png)

[2020-12-14 05:54] Vishal-raj-1 commented on #255
I want to work on this issue @goliakshay357 Sir could you please assign this issue to me!!

[2020-12-14 06:14] Vishal-raj-1 opened #258 "Add NWOC, KWOC & SWOC In README."
This project is participating Open Source Program(NWOC, KWOC, and SWOC). This should be show in README.

[2020-12-14 06:20] goliakshay357 commented on #255
Sure @Vishal-raj-1 :+1:

[2020-12-14 06:28] goliakshay357 commented on #258
+[WOC](https://winterofcode.com/) :100:
Thanks for the suggestions. Please go ahead if you want to update the README.md

[2020-12-14 06:45] goliakshay357 opened #259 "Board Plugin bug"
Delete keyword not responding when you draw 3-4 lines and select all
![image](https://user-images.githubusercontent.com/32712438/102048933-f8829c80-3e05-11eb-9e62-f9563d1c5b4d.png)

[2020-12-14 10:03] Vishal-raj-1 commented on #258
Sure !!

[2020-12-14 16:51] urvashi-code1255 commented on #256
@goliakshay357 Sir, I want to contribute to this issue. Please assign it to me.

[2020-12-14 17:03] MegaMind77-coder opened #260 "Ctrl+Z on the whiteBoard or an undo feature"
**Is your feature request related to a problem? Please describe.**
Undo Feature for WhiteBoard using Ctrl+Z or a Button.

**Describe the solution you'd like** 💡
Make Ctrl+z functional for keypad users in case they end up making a mistake while writing on the whiteboard.
An Undo Button for stylus users.

[2020-12-14 17:38] MegaMind77-coder commented on #259
Shouldn't we consider the active object as an array instead of one active object?

[2020-12-14 19:03] #198 closed

[2020-12-14 19:07] #251 closed

[2020-12-14 19:11] Kajol-Kumari commented on #256
Hey @urvashi-code1255 please go ahead with this issue.Looking forward to your PR

[2020-12-14 19:13] Kajol-Kumari commented on #204
Fixed via [this](https://github.com/Canvasbird/canvasboard/pull/249) PR

[2020-12-14 19:13] #204 closed

[2020-12-15 09:43] #259 closed

[2020-12-15 09:46] Kajol-Kumari commented on #260
Thanks for introducing this idea @MegaMind77-coder . Would you like to go ahead with this issue?

[2020-12-15 11:07] MegaMind77-coder commented on #260
Not Yet
I am still figuring it out.
I would be willing to discuss it here.

[2020-12-16 06:51] MegaMind77-coder commented on #260
Pls, assign a Label to this issue.

[2020-12-16 22:20] Piyush3436 commented on #260
@Kajol-Kumari, I'll work on this. Please assign this to me.

[2020-12-17 04:19] #258 closed

[2020-12-17 11:13] HarshCasper opened #264 "Potential Bug Risks and Anti-Patterns"
## Description

I ran DeepSource Static Code Analysis upon the Project, the results for which are available [here](https://deepsource.io/gh/HarshCasper/canvasboard/).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point of time with respect to the Project. DeepSource helps you to automatically find and fix issues in your code d

[2020-12-17 11:21] Siddhant-K-code commented on #79
what type of changes/additions we can do in `README.md` ?

[2020-12-17 11:48] GaganAgarwal77 commented on #260
I have made a pr regarding this issue, kindly review it.

[2020-12-17 12:36] MegaMind77-coder commented on #264
I think dependabot also notifies the same, don't know why the bot is sending PRs for that.

[2020-12-18 07:51] Kajol-Kumari commented on #260
Hey @MegaMind77-coder and @Piyush3436 I was a bit inactive and so missed your comments. @GaganAgarwal77 please make sure to start working on an issue only after claiming it and getting assigned. Directly coming up with a PR isn't a good practice in open source.

[2020-12-18 07:56] Kajol-Kumari commented on #256
Hey @urvashi-code1255 can you please let us know if you are still working on this issue?

[2020-12-18 07:56] GaganAgarwal77 commented on #260
@Kajol-Kumari Sure I'll keep that in mind from next time👍🏽

[2020-12-18 07:57] urvashi-code1255 commented on #256
Yes mam. I am working on it.

[2020-12-18 18:17] #260 closed

[2020-12-19 09:02] goliakshay357 opened #268 "Clock Plugin"
Live clock as a plugin

[2020-12-19 09:12] #268 closed

[2020-12-20 13:10] arbazkhan56 commented on #233
Can you Assign me?

[2020-12-20 13:23] m-code12 commented on #233
@Kajol-Kumari Could you assign me this issue so that I can start working on it? It's been 12 days since I have opened it.

[2020-12-20 17:10] #24 closed

[2020-12-20 17:28] Kajol-Kumari opened #271 "[Bug] Long Usernames going out of the screen for smaller screen"
**Describe the bug** 🐛
If the user have very long user name, it's going out of the screen for large screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Register with a very long user name
2. Visit the workspaces page

**Expected behavior**
The long names should have been reduced in the form of ellipses(...)  or line break (whichever looks better) if it's long enough

**Screenshots**
![S

[2020-12-20 17:54] Kajol-Kumari opened #272 "[Bug] Long Folder name distort the folder size"
**Describe the bug** 🐛
If we give very large folder name to any workspace, it's taking the space same as the folder name.

**To Reproduce**
Steps to reproduce the behavior:
1. go to workspaces
2. Create a workspace with a very long name

**Expected behavior**
Folder size should have been fixed and the long names should have been reduced to ellipses

**Enhancement**
As soon as user hover over `Ente

[2020-12-20 17:57] Kajol-Kumari commented on #233
Hey @m-code12 Please go ahead with this issue.
@arbazkhan56 Please look for any other open issue :)

[2020-12-20 23:01] OmarMorales71 commented on #271
@Kajol-Kumari Can I work on this issue?

[2020-12-21 04:45] HarshCasper commented on #264
Dependabot is a dependency version based vulnerability anaysis tool. It uses a list of vulnerabilities and the versions in which the dependencies show those dependencies to send PRs for solving the same.

DeepSource is different in that it helps you find issues in the code that come up due to developer fault, like wrong syntax, unnecessary control flow statements, messy code, etc.

You can check o

[2020-12-21 05:01] Kajol-Kumari commented on #271
Hey @OmarMorales71 sue!
Go ahead with this. Looking forward to your PR :)

[2020-12-22 17:31] goliakshay357 opened #273 "Showing a watermark when folders [Workspaces] are empty"
**Is your feature request related to a problem? Please describe.**
When Workspace [dashboard folders] are empty, the space is blank as shown below.
![image](https://user-images.githubusercontent.com/32712438/102916422-8bc46d80-44a9-11eb-87fe-ab811dabe745.png)
Path: /dashboard

**Describe the solution you'd like** 💡
Adding a watermark would be a better option.

**Describe alternatives you've consid

[2020-12-22 17:58] m-code12 commented on #233
@Kajol-Kumari Please assign me points for opening this issue as a part of nwoc.

[2020-12-22 18:49] m-code12 opened #274 "Add a bot to moderate the issue request and the feature request"
**Is your feature request related to a problem? Please describe.**
This bot would help a first time contributor so that that contributor can follow this project's contribution guidelines.We can link our issue template, pull request template and code of conduct here.It will contain newIssue Welcome comment, newPR Welcome comment, firstPR welcome comment,etc.

We can use a GitHub App built with prob

[2020-12-22 18:52] m-code12 commented on #274
@Kajol-Kumari You can have a look at [this link](https://github.com/mexili/incogly/issues/39) too.

[2020-12-22 19:05] deepak2431 commented on #264
@goliakshay357 @Kajol-Kumari Please have a look at this. Let me know your views if you feel integrating this would be great for our project.

[2020-12-23 01:46] goliakshay357 opened #275 "Change cards height"
**Is your feature request related to a problem? Please describe.**
Dragging feature to increase each cards height on the board dynamically.

[2020-12-23 01:51] goliakshay357 opened #276 "Verify email address"
A prompt to verify email address while signup.

[2020-12-23 01:55] goliakshay357 opened #277 "Files CRUD"
**Is your feature request related to a problem? Please describe.**

When the user enters the workspace, he/she should have the flexibility to view, create, update and delete the files which belongs to that specific workspace

[2020-12-23 01:56] goliakshay357 opened #278 "Pin Workspace"
**Is your feature request related to a problem? Please describe.**
Flexibility for the user to pin a workspace for easy and quick access.

[2020-12-23 02:02] goliakshay357 opened #279 "Google and Github Login."
**Is your feature request related to a problem? Please describe.**
Login via google and GitHub.

[2020-12-23 02:03] goliakshay357 opened #280 "File versions"
**Is your feature request related to a problem? Please describe.**
File history for every save of the board.

[2020-12-23 02:10] goliakshay357 opened #281 "Upgrade Angular rversion"
**Is your feature request related to a problem? Please describe.**
Upgrade angular version from angular8 -> angular 10 or above, to support extra functionalities and features.

[2020-12-23 02:11] mkd1997 commented on #276
@goliakshay357 Can I work on this?

[2020-12-23 02:14] goliakshay357 commented on #276
Sure!

[2020-12-23 02:31] #276 closed

[2020-12-23 18:29] Kajol-Kumari commented on #278
@goliakshay357 I guess this is same as [this](https://github.com/Canvasbird/canvasboard/issues/201) issue.

[2020-12-23 19:00] goliakshay357 opened #284 "Draggable cards size."
**Is your feature request related to a problem? Please describe.**
The Cards size is static and unique for all plugins. When content gets overflowed it gets scroll-able.
![image](https://user-images.githubusercontent.com/32712438/103028655-35752e80-457e-11eb-861e-9db7f0f942a6.png)

All the plugins follow the same width and height as it is static.
Making the width and height drag-able ( i.e increas

[2020-12-24 04:45] m-code12 commented on #274
Should I go ahead and implement this? @Kajol-Kumari

[2020-12-24 07:05] Kajol-Kumari commented on #274
Hey @m-code12, sure, Go ahead with this issue but please make sure to first open up the PR for the previous assigned issue :)

[2020-12-24 07:12] m-code12 commented on #233
@Kajol-Kumari I am not that familiar with the frontend tech stack used for this project, I tried doing it but it isn't working.

[2020-12-24 07:17] Kajol-Kumari commented on #233
Either way works for me, if you want to go ahead with that issue, ping me on slack and you want to go ahead with this only, please remove your assignment from that issue :)

[2020-12-25 16:20] #256 closed

[2020-12-25 19:41] GaganAgarwal77 commented on #272
Can I be assigned to this issue?

[2020-12-25 20:27] GaganAgarwal77 opened #286 "[Bug]No-Workspace-Found"
**Describe the bug** 🐛
Currently on adding a new folder , the message of "No Workspace Found!" stays there and only goes away on a reload, Also if the dashboard has only 1 folder and we delete it, the message does not show up untill a reload.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Dashboard
 2. Make sure it's empty
 2. Click on Add New Workspace
 3. See error
 4. Delete only

[2020-12-25 23:25] DevoAbhi commented on #286
Thank you @GaganAgarwal77 for stating this bug.
I also found out about this bug yesterday, I will submit a PR for this shortly.

[2020-12-25 23:27] DevoAbhi commented on #286
Thank you @GaganAgarwal77  for stating the bug.
I also found about the bug yesterday.
@goliakshay357 @Kajol-Kumari can I be assigned for this?
I will submit a PR shortly.

[2020-12-26 02:54] goliakshay357 commented on #286
@DevoAbhi Sure!

[2020-12-26 03:08] goliakshay357 opened #287 "Add colour dynamically to the folder"
**Is your feature request related to a problem? Please describe.**
The folders [Workspace] colors in the dashboard are currently static. ( i.e pink gradient )
![image](https://user-images.githubusercontent.com/32712438/103144788-71162100-4755-11eb-9d15-46d4727a9c97.png)

Would be great if the gradient color selection is of user choice while creating the folder.

**Describe the solution you'd like*

[2020-12-26 03:14] goliakshay357 opened #288 "Activate Enter keyword while editing workspace name"
**Is your feature request related to a problem? Please describe.**
If the user wants to edit the workspace name he/she have to click on the edit button and once the editing is done the only way to save the status (changed name) is by clicking the green tick button provided.
![image](https://user-images.githubusercontent.com/32712438/103144825-00bbcf80-4756-11eb-9132-fe8e404e8e92.png)

Would be gre

[2020-12-26 03:22] goliakshay357 opened #289 "Last accessed time"
**Is your feature request related to a problem? Please describe.**
The current folder[workspace] schema has only the following actions and information
1) Delete functionality
2) Rename folder
3) Enter folder

Apart from above info provided, additional information is also coming from the backend after successful login of the user, one of them being last accessed time of the folder. Showing this inf

[2020-12-26 03:33] goliakshay357 opened #290 "Logout action from button to dropdown"
**Is your feature request related to a problem? Please describe.**
Logout action is currently in the form of a button.
![image](https://user-images.githubusercontent.com/32712438/103145001-0bc42f00-4759-11eb-8b49-00e30f715670.png)
![image](https://user-images.githubusercontent.com/32712438/103145007-1a124b00-4759-11eb-8232-eac67018476b.png)

Would be great if it is changed to navbar-dropdown.

[2020-12-26 04:28] Kajol-Kumari commented on #272
Sure @GaganAgarwal77 you can go ahead with this issue. Looking forward to your PR

[2020-12-26 04:39] Dhamodhar-DDR commented on #289
Can I be assigned to this issue?

[2020-12-26 05:27] Dhamodhar-DDR commented on #289
But the 'last accessed time' is only updated in the backend if any changes were done to the folder model. So for now it is only updated if we change the folder name and not when we use/create a board. So would it be useful ?

[2020-12-26 08:14] GaganAgarwal77 commented on #272
@Kajol-Kumari kindly check now

[2020-12-26 08:37] Rizwan-S commented on #290
Hey @goliakshay357! Can I work on this one?

[2020-12-26 08:48] kingavatar commented on #290
I have assigned it to you @Rizwan-S.

[2020-12-26 10:01] #272 closed

[2020-12-26 13:45] Rizwan-S opened #293 "Change Username"
**Is your feature request related to a problem? Please describe.**
Currently there is no feature to change username on the dashboard. The username can't be edited once it is created. A feature to edit username as and when required would be appreciated.

**Describe the solution you'd like** 💡
There can be "Edit account" feature on the navigation bar.

[2020-12-26 19:30] IshetaBansal commented on #79
Hi!
I would like to know if this issue is still active. If yes, would love to get assigned. Thank you :)

[2020-12-27 02:31] Siddhant-K-code commented on #79
I think you should first discuss here for things we can done !!

[2020-12-27 08:24] m-code12 opened #296 "Add a code of conduct"
We can add a code of conduct file in this project, whose link I need to attach in the welcome bot issue that I am working on #274 .

[2020-12-27 09:09] goliakshay357 commented on #296
Updated.
Thanks.

[2020-12-27 09:16] Kajol-Kumari commented on #296
Hey @m-code12 we already have a code of conduct [here](https://github.com/Canvasbird/canvasboard/blob/master/CODE_OF_CONDUCT.md). You can use this in our bot.

[2020-12-27 09:54] m-code12 commented on #296
Alright, I'll use that, thanks!
Please assign me points for opening this issue.

[2020-12-27 13:21] Khimit opened #298 "Changes in the footer text"
On main web page at the **footer** , in the About us section ->
 the word **"were"** should be changed to **"where"** .

[2020-12-27 13:37] goliakshay357 commented on #298
Thanks for pointing out the issue.

[2020-12-27 13:41] goliakshay357 commented on #293
Thanks for pointing out. That would be a great enhancement.

[2020-12-27 13:42] kanishkaa24 commented on #243
Can you elaborate on this issue ?

[2020-12-27 15:05] Khimit commented on #298
Hello,
  I want to work on this issue. Can you assign this task to me?

[2020-12-27 15:16] Khimit commented on #288
I would like to work on this issue.
Can you assign this to me?

[2020-12-27 15:20] goliakshay357 commented on #298
Sure!

[2020-12-27 18:05] #298 closed

[2020-12-27 18:07] #274 closed

[2020-12-27 18:19] #233 closed

[2020-12-27 19:51] Kajol-Kumari commented on #296
Hey @m-code12 as we already had `code-of-conduct` in our codebase, so I can assign you points for this.

[2020-12-27 19:51] #296 closed

[2020-12-27 19:54] m-code12 commented on #296
It wasn't there previously, @goliakshay357 added it after I created this issue.

[2020-12-27 20:00] Kajol-Kumari commented on #296
Ah, I mistaken it by contributing guidelines. Will update the point for this.

[2020-12-27 20:57] Khimit opened #302 "Add missing letters from title"
The letters **"r"** and **"d"** from the title **Canvasboard** are not there in the **login** and **sign up** pages both.
![Canva1](https://user-images.githubusercontent.com/46605529/103179637-0b8c7680-48b4-11eb-927f-d16d056030d5.PNG)
![Canva2](https://user-images.githubusercontent.com/46605529/103179642-13e4b180-48b4-11eb-985e-4508136ac2e2.PNG)

 **Need to be corrected.**

[2020-12-27 20:59] Khimit commented on #302
I would like to work on this issue.
Can you assign this to me??

[2020-12-27 21:33] DevoAbhi opened #303 "Renamed folder not appearing after search"
**Describe the bug** 🐛
When the user renames a folder, the folder does not appear when it is searched, it only appears if the page is reloaded.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Dashboard
 2. Rename the folder
 3. Search the renamed folder in the searched box
 4. See error

**Observed behavior**
When the folder is renamed, it does not appear when it is searched in the "S

[2020-12-27 22:12] DevoAbhi commented on #302
Can you please explain to me the issue?
Because on my side, the names are appearing properly.

The Screenshots for the same are :

![canva-login](https://user-images.githubusercontent.com/54373853/103180735-8fe3f700-48be-11eb-8f25-89b0263bd969.png)
![canva-signup](https://user-images.githubusercontent.com/54373853/103180736-92465100-48be-11eb-99a0-fd9a7b0771ce.png)

![canva-signup](https://user-im

[2020-12-27 22:14] DevoAbhi commented on #302
Can you please explain me the issue?
Because on my end the letters are appearing properly.

The Screenshots for the same are :

![canva-login](https://user-images.githubusercontent.com/54373853/103180755-e3564500-48be-11eb-8744-80532b232983.png)

![canva-signup](https://user-images.githubusercontent.com/54373853/103180760-f10bca80-48be-11eb-849d-962baf33436e.png)

[2020-12-27 22:18] Khimit commented on #302
Ohkk,
 So I think problem is from my end only

[2020-12-27 22:21] #302 closed

[2020-12-28 05:53] urvashi-code1255 commented on #273
@goliakshay357 I want to work on this issue. Please assign me this.

[2020-12-28 07:29] goliakshay357 commented on #288
Sure!

[2020-12-28 07:37] goliakshay357 commented on #273
@DevoAbhi Did you work on this?

[2020-12-28 07:47] #286 closed

[2020-12-28 08:20] Khimit opened #304 "Make the plus sign active"
Can we make this **plus sign** also **active** , so that after clicking on that user can add new workspace for him. Up till now user can only add after clicking on "**add new workspace**" tab. This can make it more user-friendly.
![canva3](https://user-images.githubusercontent.com/46605529/103200373-2fcb7000-4913-11eb-9bf7-d7f44c9233ab.PNG)

[2020-12-28 08:56] DevoAbhi commented on #288
@goliakshay357 @Khimit  Is activating the enter key while creating a new workspace also a good option?

[2020-12-28 08:59] Khimit commented on #288
@goliakshay357 @DevoAbhi  sure!!

[2020-12-28 09:00] Khimit commented on #288
@goliakshay357 can we go ahead ??

[2020-12-28 09:05] DevoAbhi commented on #273
No, I worked only on the search workspace part and if the user searches for a folder that is not present, a "No Workspace Found" message would appear.

[2020-12-28 09:35] jaggu21 commented on #243
@kanishkaa24
Tutorial Guide will elaborate the components present on the page. Here is an example from [Circuitverse](https://circuitverse.org/simulator). I hope this helps!
![sc](https://user-images.githubusercontent.com/56889104/103204705-f4826e80-491d-11eb-8c06-37bcb78fb14f.png)

[2020-12-28 09:44] goliakshay357 commented on #288
That would be great!

[2020-12-28 11:40] bhavesh1129 opened #305 "Update Contribution.md file"
Hey!
I want to rearrange your existing contributing file by adding all necessary details, guidelines, to look it more better adding some relevant images and some emojis.

Hope you like it.
Thank you!

[2020-12-28 17:18] DevoAbhi opened #308 "Custom error message not displayed for duplicate usernames"
**Describe the bug** 🐛
If the user tries to signup using a username that has already been registered, then they get an error message that is not easy to follow. Thus the user might be confused about the reason for which they are being prevented from signup.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Signup Page
 2. Type a username that has already been registered
 3. Type other d

[2020-12-29 02:51] Amit366 commented on #182
Sir I would like to solve this issue.

[2020-12-29 06:58] MegaMind77-coder commented on #289
@goliakshay357  what route in the backend will send bach the updates info?

[2020-12-29 14:53] Nikcodes10 commented on #308
Can I work on this?

[2020-12-29 15:58] sakshikhachane commented on #255
@goliakshay357  I would like to work on this issue. I am a participant in DWOC.

[2020-12-29 19:01] goliakshay357 commented on #255
Sure! Go ahead.

[2020-12-29 19:21] #290 closed

[2020-12-30 08:43] #308 closed

[2020-12-30 09:59] sakshikhachane commented on #182
@goliakshay357 I would take on this issue. Please assign me this issue.

[2020-12-30 10:02] sakshikhachane commented on #284
@goliakshay357 This is a good issue but can you elaborate it more?

[2020-12-30 16:41] Nikcodes10 commented on #195
I would like to work on this

[2020-12-31 05:44] sakshikhachane commented on #255
@goliakshay357 Please review the PR.

[2020-12-31 07:35] Ak-panchal commented on #304
assign me?

[2020-12-31 14:39] goliakshay357 commented on #182
Sure!

[2020-12-31 14:40] goliakshay357 commented on #284
Hey @sakshikhachane,
You are already assigned to one issue. Would you like to work on both?

[2020-12-31 14:40] goliakshay357 commented on #195
Sure! Please go ahead.

[2020-12-31 14:41] goliakshay357 commented on #255
Hey @sakshikhachane,
Given review. Please checkout!
Thanks

[2020-12-31 14:51] goliakshay357 commented on #304
Sure!

[2021-01-01 09:53] sakshikhachane commented on #182
@goliakshay357 I have adjusted the screen.
![Canvasboard - Google Chrome 01-01-2021 15_21_49](https://user-images.githubusercontent.com/53635792/103436758-44767380-4c45-11eb-8f2d-39c51aa84b4f.png)
![Canvasboard - Google Chrome 01-01-2021 15_21_43](https://user-images.githubusercontent.com/53635792/103436760-46403700-4c45-11eb-9d34-2b72cef441cf.png)
![Canvasboard - Google Chrome 01-01-2021 15_21_36

[2021-01-01 09:55] goliakshay357 commented on #182
Hey,
This looks cool. Please submit a PR for the review!

Thanks

[2021-01-01 10:06] goliakshay357 commented on #305
Sure. That would be great!
Looking forward to a PR.
Thanks

[2021-01-01 16:55] DevoAbhi commented on #273
I would work on this. I would submit a PR ASAP.

[2021-01-01 17:10] goliakshay357 commented on #273
@DevoAbhi, Sure!

[2021-01-02 03:41] sakshikhachane commented on #284
@goliakshay357 I can work on this now as I have completed the work to be done on another issue.

[2021-01-02 04:44] shraddha-1402 commented on #243
I would like to work on this issue! Please assign me this!

[2021-01-02 14:21] Khimit commented on #288
@goliakshay357  sorry but i am unable to solve this issue.

[2021-01-02 15:49] goliakshay357 commented on #243
Yeah sure! Looking forward to a PR :smiley: !

[2021-01-02 15:54] #273 closed

[2021-01-02 16:42] shivaamm opened #314 "New Board Css issue"
In the slidermenu the toolbox(text) and close option are having some margin issue.
Look at both the images for changes.

![1](https://user-images.githubusercontent.com/59584173/103461849-50e2f500-4d47-11eb-9384-604a5f196541.png)
![2](https://user-images.githubusercontent.com/59584173/103461850-52acb880-4d47-11eb-8f20-4a1eda9e5917.png)

[2021-01-02 16:47] goliakshay357 commented on #314
Thanks for raising this issue! :smiley:

[2021-01-02 16:48] shivaamm commented on #314
Toolbox and Close option are half hidden behind the Canvasboard Beta section.

@goliakshay357 welcomee!

[2021-01-02 18:48] MegaMind77-coder commented on #304
Can I take up this issue? If it is not being worked on anymore ?

[2021-01-02 18:50] MegaMind77-coder commented on #205
@goliakshay357 could you please explain what is required in this issue?

[2021-01-02 19:49] goliakshay357 commented on #304
@Ak-panchal, are you working on this issue?

[2021-01-03 10:53] m-code12 opened #315 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-01-03 12:18] shraddha-1402 commented on #243
hey @goliakshay357 how can i make changes to the board without login? are there any test credentials?

[2021-01-03 15:02] kingavatar commented on #315
Thanks for the Suggestion. Would be really helpful.

[2021-01-03 15:03] goliakshay357 commented on #243
Hello @shraddha-1402,
Can you please describe more?

You can use your own login credentials, Should not be a problem.
Thanks!

[2021-01-03 17:09] shraddha-1402 commented on #243
I wanted to know that i'll have to implement activity driver in board section, right?
And for that, is there a way i can make changes in board section without logging in?

[2021-01-04 03:09] goliakshay357 commented on #271
@OmarMorales71,
Working on this issue?

[2021-01-04 03:45] goliakshay357 commented on #205
Hey @MegaMind77-coder,
This plugin helps the users **especially teachers** to view, edit and save the PPT.

Thanks

[2021-01-04 05:15] Kajol-Kumari commented on #243
Hey @shraddha-1402 you can't access the board without logging in so you need to first signup with your email ID , username and password. Then verify your email with the link that will be sent on your emailID and after than you can just login and access all the workspaces along with boards.

Let me know if you need further clarification

[2021-01-04 05:45] OmarMorales71 commented on #271
@goliakshay357 the PR is there

[2021-01-04 06:50] shraddha-1402 commented on #243
Okay @Kajol-Kumari. Thank you!

[2021-01-04 07:19] goliakshay357 commented on #271
Yes! Can you please look into the changes requested?
Thanks

[2021-01-04 08:13] m-code12 commented on #315
@kingavatar Whom should I add as the reviewers, @Kajol-Kumari , @goliakshay357 and you, right?

[2021-01-04 08:17] goliakshay357 commented on #315
Yes.

[2021-01-04 12:39] m-code12 opened #318 "Add a scroll-to-top button in the website"
I would like to add a new feature to the website, a scroll-to-top button that will take the user to the top of the page when clicked on. This comes quite handy when the user reaches the end of the page and has to scroll way back to the top.

[2021-01-05 02:39] OmarMorales71 commented on #271
@goliakshay357 Sure. I already solved the review.

[2021-01-05 07:34] #255 closed

[2021-01-05 08:44] Utkarsh299-tech commented on #288
Hey @goliakshay357! I would like to work on this issue. Can you assign this to me?

[2021-01-05 11:07] abdus commented on #280
@goliakshay357 I can think of a simple method of making a file version-controlled. Consider the first 'save' of a file as the main record. Then, every time a user makes a 'save' action for this file, create a new entry in the database. This new entry should have a foreign key which would store the ID of 'main' record.
Now, when fetching the file for rendering on front-end, make sure that the lates

[2021-01-05 13:26] goliakshay357 commented on #288
Sure!

[2021-01-05 15:33] m-code12 commented on #318
@Kajol-Kumari @goliakshay357 Should I implement this?

[2021-01-05 15:39] goliakshay357 commented on #318
Sure! That would be great.

[2021-01-06 18:03] m-code12 commented on #318
@Kajol-Kumari Please assign me points for opening this issue.

[2021-01-07 07:25] #315 closed

[2021-01-07 07:30] #271 closed

[2021-01-07 07:43] Kajol-Kumari commented on #318
Done :)

[2021-01-07 08:04] goliakshay357 commented on #315
Hey @m-code12,
Is this DWOC related?

Thanks

[2021-01-07 08:23] m-code12 commented on #315
No NWOC

[2021-01-07 08:30] goliakshay357 opened #323 "Update README.md with DWOC"
Add DWOC (DevScript winter of code) in programs associated section.

[2021-01-07 14:42] Vishal-raj-1 commented on #323
@goliakshay357 May I go for it ?

[2021-01-07 15:02] goliakshay357 commented on #323
Sure!

[2021-01-07 15:03] Vishal-raj-1 commented on #323
Thanks lemme send the quick PR !! for the same.

[2021-01-08 21:03] #323 closed

[2021-01-09 09:48] shamshul2007 commented on #279
It will make the registration easy and quick.

[2021-01-10 10:04] #314 closed

[2021-01-11 18:00] #303 closed

[2021-01-12 06:04] goliakshay357 commented on #305
Hey @bhavesh1129,
Looking forward to updates.

Thanks

[2021-01-12 06:05] goliakshay357 commented on #304
@MegaMind77-coder,
Sorry for the delay. You can take up this issue.

Thanks

[2021-01-12 06:06] goliakshay357 commented on #195
Hey @Nikcodes10,
Working on this issue?

Thanks

[2021-01-12 06:08] goliakshay357 commented on #243
@shraddha-1402,
Are you working on this issue?

Thanks.

[2021-01-12 06:11] shraddha-1402 commented on #243
Yes @goliakshay357 . I am new to typescript so i am learning while doing.

[2021-01-12 15:03] Nikcodes10 commented on #195
I'll submit a PR soon. Assign it to me

[2021-01-12 17:26] goliakshay357 opened #327 "Unique name issue while creating workspace"
**Describe the bug** 🐛
Multiple workspace can be created with same name.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to dashboard
 2. Click on 'Add New Workspace' and name the file, say 'XYZ' and click 'save'
 3. Again click on 'Add New Workspace' and  name 'XYZ'
 4. You can see two different workspace with the same name

**Expected behavior**
No two workspace should have the same na

[2021-01-12 18:23] pranu2502 commented on #287
Can I work on this issue?

[2021-01-12 18:29] goliakshay357 commented on #195
Sure! Thanks for the confirmation. Looking forward to a PR.

[2021-01-12 18:31] goliakshay357 commented on #287
Sure! Looking forward to a PR.

Thanks

[2021-01-13 13:05] #277 closed

[2021-01-13 13:09] kingavatar opened #330 "Multiple Files are created when pressing save button on new Board"
Multiple Files are created when save button is pressed when a new board is created

[2021-01-14 10:03] himanshu007-creator opened #332 "Automating website"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 10:08] goliakshay357 commented on #332
Hey @himanshu007-creator,
Can you please describe briefly?

Thanks

[2021-01-14 10:14] himanshu007-creator commented on #332
Yes sure, basically I will create a bash script, when user runs this script on CLI, website will open in browser automatically.
It will be helpful for those using ubuntu and similar operating systems.

[2021-01-14 10:18] goliakshay357 commented on #332
Hey @himanshu007-creator,
How it is different from ``` ng serve -o ``` ?

The command "-o" will open the local hosted angular website automatically  in the default browser.

[2021-01-14 10:22] himanshu007-creator commented on #332
sir, my script will not open the locally hosted website, but it will open the main website.
https://canvasboard.live/home
this one

[2021-01-14 10:42] kingavatar commented on #332
Hey @himanshu007-creator ,
Please correct me if i am wrong, so the bash script will automatically open canvasboard.live link from terminal. But how is it different from say opening using firefox command like `firefox canvasboard.live` as it also opens weblinks from terminal, are there any other features which are also being automated.

[2021-01-14 10:44] himanshu007-creator commented on #332
Sir, I don't know about firefox command. If you feel my contribution will not add value to project, then you can decline my services.

[2021-01-14 10:49] goliakshay357 commented on #332
Hey @himanshu007-creator,
We always welcome new ideas but can you briefly explain the issue step-wise? Would be great if you can follow the issue  template provided. This would help us in judging whether the issue fits the improvements gap.

Thanks

[2021-01-14 11:34] sakshikhachane commented on #255
@goliakshay357 Please add level to this else it won't get counted.

[2021-01-14 11:36] goliakshay357 commented on #255
Sure, @saidhanush1212
Thanks for the notice!

[2021-01-15 17:07] himanshu007-creator commented on #332
---
name: Feature request
about: Suggest an idea for this project
---

**Is your feature request related to a problem? Please describe.**
yes.

**Describe the solution you'd like** 💡
i will create a bash script to make url opening easier

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
A

[2021-01-15 18:48] goliakshay357 opened #333 "Spaces are allowed while entering workspace name"
**Describe the bug** 🐛
When you create a new workspace in the dashboard. The name parameter is also accepting only spaces which is not efficient and right way to enter a name.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to Dashboard
 2. Click on "Add New Workspace"
 3. **Just enter spaces in name field**
 4. See error

**Observed behavior**
Only spaces are also getting accepted to na

[2021-01-15 18:52] goliakshay357 opened #334 "Edit files name and description"
**Is your feature request related to a problem? Please describe.**
It would be better if user can edit file name and file description after enter the folder also.

**Describe the solution you'd like** 💡
[ ] Make API's for edit filename and file Description
[ ] Integrate API's

**Additional context**
Location:
![image](https://user-images.githubusercontent.com/32712438/104766618-e4c5af80-5790-11eb-

[2021-01-15 18:55] goliakshay357 opened #335 "Change Beta font and fontsize"
**Is your feature request related to a problem? Please describe.**
Change the word "Beta" to different font and fontsize. ( because CB is **c**anvas**b**oard but not **c**anvasboard **b**eta)

[2021-01-18 10:01] #330 closed

[2021-01-19 11:57] goliakshay357 opened #340 "Forgot Password"
Forgot password functionality with email verification and OTP verification.

[2021-01-20 06:52] goliakshay357 commented on #287
Hey @pranu2502,
Working on this issue?

[2021-01-20 06:52] goliakshay357 commented on #288
Hey @Utkarsh299-tech,
Working on this issue?

[2021-01-20 06:53] #340 closed

[2021-01-20 07:23] pranu2502 commented on #287
Yeah, I am waiting for you to send the colours

[2021-01-20 09:57] Utkarsh299-tech commented on #288
Hi @goliakshay357, yes I apologize for such a delay but I'm understanding the codebase and working on it. And can you please help me in understanding where should I write that specific function so that I can solve this issue? That would be really helpful! Thanks.

[2021-01-20 10:35] sakshikhachane commented on #182
@goliakshay357 Is it done? Sorry for the delay in response because of the exams.

[2021-01-20 11:08] goliakshay357 commented on #287
![image](https://user-images.githubusercontent.com/32712438/105166838-ea7b1680-5b3d-11eb-911e-d090d83e791e.png)

**Hexcodes:**
#96F4F7
#C1F7F7
#ECD9E9
#ECD9E9
#FFBDC3

[2021-01-20 11:12] goliakshay357 commented on #288
https://github.com/Canvasbird/canvasboard/blob/b9ce448656ce3cfb3c7dac797839f41321cfc850/src/app/components/dashboard/dashboard.component.html#L22

Just adding the above attribute actions to the SVG should help.
Thanks

[2021-01-20 11:19] goliakshay357 commented on #182
@sakshikhachane,
This issues seems like it's not solved. Reopened it again.

Take your own time, no hurries!
Thanks

[2021-01-20 13:33] Harshita-Kanal commented on #335
Can I take this up?

[2021-01-20 13:47] goliakshay357 commented on #335
@Harshita-Kanal, Sure!

[2021-01-20 13:48] goliakshay357 commented on #335
Try out
    `font-family: Harmattan,sans-serif;
`

[2021-01-20 18:04] Utkarsh299-tech commented on #288
Thanks for this but I think adding these attribute actions to the SVG doesn't bring about the required changes i.e, no Enter keyword is getting activated. Are you sure if I've to add these attribute actions only or is there anything more to do?

[2021-01-20 22:07] neha-kothari opened #342 "Add a "Back to Top" button on the board and dashboard"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. It would be better if [...]

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2021-01-21 14:15] goliakshay357 opened #343 "Enable Markdown"
**Is your feature request related to a problem? Please describe.**
Enabling markdown feature for markdown lovers for each card.

**Approach:**
A toggle to enable Markdown in the cards.

[2021-01-21 14:17] goliakshay357 opened #344 "Handling Duplicates"
**Is your feature request related to a problem? Please describe.**
Feature to easily duplicate cards.

[2021-01-21 14:20] goliakshay357 opened #345 "Search Feature"
**Is your feature request related to a problem? Please describe.**
Search feature once you enter the files folder to find the required files.

[2021-01-21 14:22] goliakshay357 opened #346 "Shortcut for Save"
**Is your feature request related to a problem? Please describe.**
Shortcut for Saving the board state

**Shortcut command:**
Ctrl+s

[2021-01-21 14:24] goliakshay357 opened #347 "Shortcut Page"
**Is your feature request related to a problem? Please describe.**
A web modal which has list of all the shortcuts.

[2021-01-21 16:54] kingavatar opened #348 "Twitter Plugin"
Twitter Plugin to embed into canvasboard

[2021-01-21 17:26] #348 closed

[2021-01-22 05:24] mukeshpilaniya opened #350 "Xss on Add New Workspace"
**Describe the bug** 🐛
while adding a new workspace if a user type `"><script>alert(1)</script>` in the name field then the XSS is triggered on workspace.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to 'https://canvasboard.live/'
 2. Click on 'Add New Workspace'
 3. Type Name as `"><script>alert(1)</script>`
 4. See error

**Screenshots**
![image](https://user-images.githubuserconten

[2021-01-23 04:15] #335 closed

[2021-01-23 08:08] Harshita-Kanal commented on #333
Can I take this up?

[2021-01-23 09:44] goliakshay357 commented on #333
Sure!

[2021-01-24 21:40] kingavatar opened #356 "Delete Repeatedly Feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. It would be better if [...]

By Repeatedly pressing Delete Button all Cards should be deleted without pressing again and again on cards

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

Add a listener which captures the pr

[2021-01-24 22:21] #356 closed

[2021-01-26 01:30] neha-kothari opened #360 "Dark Mode for the website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. It would be better if [...]

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2021-01-26 16:37] neha-kothari opened #362 "Open Toolbox by default while launching the board"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. It would be better if [...]

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2021-01-26 20:08] neha-kothari commented on #318
Changes committed and pushed.

[2021-01-26 20:08] #318 closed

[2021-01-29 17:07] #343 closed

[2021-01-31 06:08] goliakshay357 opened #366 "Copy Paste Error"
**Describe the bug** 🐛
When Data is placed from external sources, CSS is also getting attached in contenteditable cards

[2021-01-31 08:04] #366 closed

[2021-02-01 07:36] Kajol-Kumari opened #368 "Enhancement in Scroll to Top Button"
Deliverables:

- [ ] Make the cursor to pointer as soon as we hover on `scroll to top` icon
- [ ] We should have a nice hovering effect on the `scroll to top` icon (maybe color changing effect)

[2021-02-01 07:44] Kajol-Kumari opened #369 "Enhancement in Edit folder name"
Deliverable:

- [ ] Better left and right padding for the edit file name input field
- [ ] Also the border of input field should change as we click on the input field while editing

![Screenshot from 2021-02-01 13-07-39](https://user-images.githubusercontent.com/44888949/106428657-5723d880-648f-11eb-813f-ab820eafa1a0.png)

[2021-02-01 07:46] AnshMishra2001 commented on #369
Can I work on this issue?

[2021-02-01 07:50] Kajol-Kumari opened #370 "Enhancement in Delete folder option"
Deliverable:

- [ ] The cursor should be made to pointer as soon as we hover on `trash` icon on the folder
- [ ] As soon as we click on the `trash` icon a modal should appear asking `Are you sure you want to delete this workspace?` along with having the button of `cancel` and `yes`
- [ ] Clicking on `yes` should delete the workspace and `clicking on `cancel` should not do anything, just close the

[2021-02-01 07:50] Kajol-Kumari commented on #369
Hey sure, Go ahead with this issue!
Happy learning :)

[2021-02-01 09:22] sakshikhachane commented on #368
@Kajol-Kumari I would like to work on this issue. Please assign me this issue.

[2021-02-01 09:23] sakshikhachane commented on #370
@Kajol-Kumari I would like to work on this issue also.

[2021-02-01 09:31] Kajol-Kumari commented on #368
Sure @sakshikhachane please go ahead with this issue
Happy learning :)

[2021-02-01 09:31] Kajol-Kumari commented on #370
Sure @sakshikhachane

[2021-02-01 11:47] Kajol-Kumari opened #371 "Enhancement in Create workshop modal"
Deliverable:

- [ ] Better UI for input field
- [ ] Better UI On hover/focus for input fields
- [ ] Better UI for button
- [ ] Button should have a nice hovering effect

Current modal UI
![Screenshot from 2021-02-01 17-12-52](https://user-images.githubusercontent.com/44888949/106454782-4ab07780-64b1-11eb-9e0f-b6d61f5fe8c7.png)

[2021-02-01 12:54] LeeRenJie commented on #371
Hello, do I need typescript knowledge for this?

[2021-02-01 13:15] sakshikhachane commented on #368
@Kajol-Kumari Is this looking better or should I change the hovering effects?

![Canvasboard - Google Chrome 01-02-2021 18_42_55 (2)](https://user-images.githubusercontent.com/53635792/106463519-8ea97980-64bd-11eb-8322-2830320e209e.png)

[2021-02-01 13:56] Kajol-Kumari commented on #368
Hey @sakshikhachane please try changing the icon color instead of shadow effect

[2021-02-01 13:57] Kajol-Kumari commented on #371
A very basic maybe as this issue is mostly of css

[2021-02-01 15:11] Utkarsh299-tech commented on #288
Hey @goliakshay357 can you please help me understand what you said i.e., adding the attribute actions to the SVG. I did the same, but I don't see any change in the Enter keyword.

[2021-02-02 07:05] Kajol-Kumari opened #373 "[Bug] Daily Quote not appearing in development server"
Deliverable:

- [ ] The daily quote should appear on the development server
- [ ] The quote should have a good bottom padding
- [ ] The quote text color should be a bit nicer and attractive

[2021-02-02 07:13] #368 closed

[2021-02-02 07:14] sakshikhachane commented on #371
@Kajol-Kumari I would like to work on this issue. Please assign me this issue.

[2021-02-02 07:18] Kajol-Kumari opened #374 "Enhancement in Welcome message on Dashbaoard"
Updated Deliverable:

Design Inspiration:
![image](https://user-images.githubusercontent.com/32712438/108738677-e33e9280-7559-11eb-9b7c-be431358ff69.png)

Current Welcome message
![Screenshot from 2021-02-02 12-47-27](https://user-images.githubusercontent.com/44888949/106565505-ef37c580-6554-11eb-9353-341887b4ecf0.png)

References and important links:

For Title:
font: [Medium] https://fonts.googl

[2021-02-02 07:56] Kajol-Kumari commented on #371
sure @sakshikhachane  :)

[2021-02-02 19:09] AnshMishra2001 commented on #369
I am unable to locate the edit folder

[2021-02-03 06:33] Kajol-Kumari commented on #369
Hey @AnshMishra2001 please checkout the snippet from [here](https://github.com/Canvasbird/canvasboard/blob/master/src/app/components/files/files.component.ts#L73) to [here](https://github.com/Canvasbird/canvasboard/blob/master/src/app/components/files/files.component.ts#L75) and also checkout [rhis](https://github.com/Canvasbird/canvasboard/blob/master/src/app/components/dashboard/dashboard.compon

[2021-02-03 07:11] #346 closed

[2021-02-03 07:19] goliakshay357 commented on #333
Hey @Harshita-Kanal,
Working on this issue?

[2021-02-03 07:20] #305 closed

[2021-02-03 07:21] #362 closed

[2021-02-03 07:22] goliakshay357 commented on #182
is this issue resolved?
@Kajol-Kumari @sakshikhachane?

[2021-02-03 07:24] #287 closed

[2021-02-03 07:26] goliakshay357 commented on #288
Can you please message me on slack?
Thanks

[2021-02-03 07:32] #264 closed

[2021-02-03 07:41] goliakshay357 opened #376 "Feature to edit workspace name and description"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/32712438/106713666-c977f280-6620-11eb-8769-05f1806e441d.png)

location: /folder/**folderid**
Editing the workspace name and description after entering a folder

Deliverable:
- [ ] Edit SVG button
- [ ] API for editing Workspace name and description

[2021-02-04 06:31] ShivangiRai1310 commented on #374
Hi, would like to work on this issue under Dwoc & Swoc.

[2021-02-04 07:34] Kajol-Kumari commented on #374
sure @ShivangiRai1310  :)

[2021-02-06 08:50] AnshMishra2001 commented on #376
I am also working on this issue

[2021-02-06 17:45] goliakshay357 opened #378 "Navigate to Dashboard"
**Is your feature request related to a problem? Please describe.**
A button to navigate from files folder to dashboard.

**Describe the solution you'd like** 💡
by using Angular Route module from ```@angular/router```

[2021-02-08 08:11] #182 closed

[2021-02-10 01:13] #304 closed

[2021-02-10 12:40] okutewonah commented on #378
I just had this done, I believe. I will make a PR right away

[2021-02-10 13:47] #378 closed

[2021-02-11 12:31] AkshatGadhwal commented on #327
hi @goliakshay357, i am new to open source. Can i work on this issue?

[2021-02-11 12:33] AkshatGadhwal commented on #371
Hi @goliakshay357, can i work on this?

[2021-02-11 12:44] goliakshay357 commented on #371
@sakshikhachane, Working on this issue?

[2021-02-11 12:47] goliakshay357 commented on #327
Sure! Please feel free to join our slack channel in case if you need any help.
Thanks

Slack invite: https://join.slack.com/t/canvasbird-community/shared_invite/zt-lonbgryr-fhsZ5OWGtqDeEbP28GFn0g

[2021-02-11 19:19] vismitap commented on #373
Hey! I would like to work on this issue!

[2021-02-18 19:29] kingavatar opened #385 "Registration Email spam sensitive"

[2021-02-24 07:51] #385 closed

[2021-02-24 07:52] goliakshay357 commented on #373
Hey @vismitap,
Sure!

[2021-02-24 12:19] okutewonah commented on #279
I would love to be assigned this issue if you don't mind

[2021-02-24 23:14] vismitap commented on #333
Hey! I would like to work on this issue! Please guide me on how I can approach this problem?

[2021-02-25 13:55] goliakshay357 commented on #333
Hey @Vishal-raj-1,
Please feel free to checkout [this](https://zellwk.com/blog/check-empty-input-js/)

Thanks

[2021-02-25 14:12] goliakshay357 commented on #279
Hey @okutewonah,
Thanks for your interest. Would be great if you could share your approach to solve this issue?

Thanks

[2021-02-25 17:56] #374 closed

[2021-02-25 19:08] goliakshay357 opened #387 "Change animation package"
**Describe the bug** 🐛
On scrolling bottom -> top. The animation gets reversed. (Occurs unexpectedly few a times)

![bug](https://user-images.githubusercontent.com/32712438/109204067-e7bdb200-77ca-11eb-800e-60f540776396.gif)

[2021-02-25 19:13] goliakshay357 opened #388 "Need GIF for Home page"
The main aim of canvasboard is to converge all your workspaces to single platform. Need a better suitable animated GIF to attach on website homepage

Sample GIF:
![Blue Dog Bubble Map](https://user-images.githubusercontent.com/32712438/109204322-33705b80-77cb-11eb-87ff-157e21026adb.gif)

Sample Image:
![plugins2](https://user-images.githubusercontent.com/32712438/109204594-8d712100-77cb-11eb-8eee-

[2021-02-25 19:20] goliakshay357 opened #389 "Horizontal Overflow"
**Describe the bug** 🐛
Remove the horizontal overflow in all responsive screens

locations:
https://canvasboard.live/login
https://canvasboard.live/sign-up

![bug](https://user-images.githubusercontent.com/32712438/109205329-73840e00-77cc-11eb-9214-89bf26ebabfe.gif)

[2021-02-25 19:24] goliakshay357 opened #390 "Activate Enter keyword while editing workspace name"
**Is your feature request related to a problem? Please describe.**
If the user wants to edit the workspace name he/she have to click on the edit button and once the editing is done the only way to save the status (changed name) is by clicking the green tick button provided.
![image](https://user-images.githubusercontent.com/32712438/103144825-00bbcf80-4756-11eb-9132-fe8e404e8e92.png)

Would be gre

[2021-02-26 06:09] okutewonah commented on #279
Hello @goliakshay357
I intend to include a button that says  `Log in with Google` on the login page.
Maybe someone else could add for GitHub.
Is it OK to ask you questions if I have any during the process?

[2021-02-26 11:30] dollyjain51099 commented on #389
I would like to work on this issue, @goliakshay357 kindly assign it to me!

[2021-02-26 11:30] Aniket118 commented on #389
I would like to work on this issue, @goliakshay357 kindly assign it to me!

[2021-02-26 11:31] Aniket118 commented on #390
I would like to work on this issue, @GaganAgarwal77  kindly assign it to me!

[2021-02-26 11:34] goliakshay357 commented on #390
Sure!

[2021-02-26 11:36] goliakshay357 commented on #389
@Aniket118, You can work on #390 as you asked.
Thanks

[2021-02-26 13:11] dollyjain51099 commented on #389
@goliakshay357 can u please add the label for swoc!

[2021-02-26 16:39] #389 closed

[2021-02-26 16:46] Aniket118 commented on #390
@goliakshay357 can u please add the label for swoc!

[2021-02-26 21:08] vismitap commented on #387
Hey! I would like to solve this issue by using - animate.css and wow.js. Please assign this to me!

[2021-02-27 18:04] #390 closed

[2021-03-03 06:32] goliakshay357 commented on #387
Sorry for the late reply,
Sure!

[2021-05-24 12:36] goliakshay357 opened #398 "(JS-0356) Found unused variables"
## Description
Removing unused variables and imports from your code is recommended because variables and imports which are declared and not used anywhere in the code are most likely an error due to incomplete refactoring. Such unused items take up space and add code that will be unnecessarily executed in production. &lt;!--more--&gt; …

## Occurrences
There are 4 occurrences of this issue in the r

[2021-05-24 12:42] goliakshay357 opened #399 "Adding Images to CDN"
Adding Static Images to CDN and attach the URL to improve performance of the application

[2021-05-24 12:59] goliakshay357 opened #400 "Remove Animations in home page"
Animations has the reverse bug when scrolled upwards

[2021-05-24 13:02] goliakshay357 opened #401 "Secure login process"

[2021-06-26 11:55] DevoAbhi opened #405 "Pasting the copied item multiple times."
**Describe the bug** 🐛
Whenever I copy something and paste it into space, it gets pasted multiple times. The number of times it gets pasted depends on the number of times you go back from the board. It again works completely fine once you close that tab, and enter Canvasboard from a new tab.

**To Reproduce**
Steps to reproduce the behavior:
 1. Go to a workspace
 2. Launch a new board
 3. Type so

[2021-07-26 07:57] goliakshay357 opened #406 "Optimize docker file"
- [ ] Minimise multiple copies and builds
- [ ] Expose port
- [ ] Use distroless images to disable actions and external events during production
- [ ] Send to image scanner for Vurnabilities in CI/CD pipe.

[2021-08-04 05:40] goliakshay357 opened #408 "Automate public file creation for plugins"
A CLI interface to create plugins file.

[2021-08-24 04:59] SEETHAMRAJU commented on #408
This issue sounds interesting. Could please elaborate more about it.

[2021-08-24 09:11] goliakshay357 commented on #408
Hey @SEETHAMRAJU,

Generally for creating plugins on Canvasboard, we create .ts files in the /plugins directory. You can automate this process by creating a file with a plugin initial template. These steps can be done interactively with the custom CLI commands which run a shell script to insert a file in the /plugins directory.

Few general Information is needed before creating a file via CLI:
1.

[2021-08-24 10:25] SEETHAMRAJU commented on #408
Seems interesting. Can I work on this issue ?

[2021-09-10 18:54] #408 closed

[2021-10-02 13:15] infinityover opened #419 "Feedback to user on signup"
**Is your feature request related to a problem? Please describe.**
When you click the button to signup to canvasboard, the app doesn`t give a feedback to user, sometimes the aplication delays to respond, and user clicks again the button.

**Describe the solution you'd like** 💡
Just create a loading feedback to user knows the signup process already started.

[2021-10-02 14:18] goliakshay357 opened #420 "Lazy Loading"
**Is your feature request related to a problem? Please describe.**
To load the welcome page faster

**Describe the solution you'd like** 💡
Use lazy loading module to detach the welcome part so the initial page can load faster

[2021-10-02 18:15] infinityover commented on #420
Can i get this task?

[2021-10-02 18:24] goliakshay357 commented on #420
Hello @infinityover,
Sure!

[2021-10-03 02:16] Kevan-Y commented on #333
Hi if it is still active, may I have try.

[2021-10-03 03:45] goliakshay357 commented on #333
Hello @Kevan-Y,
Sure!

[2021-10-03 04:11] goliakshay357 opened #422 "Convert block toolbar from horizontal to vertical alignment"
**Is your feature request related to a problem? Please describe.**

Change the toolbar alignment and style to enhance user experience while editing the cards.

**current toolbar:**
![image](https://user-images.githubusercontent.com/32712438/135739311-f3cde47d-5b40-4865-bf03-94e002747ae9.png)

**Describe the solution you'd like** 💡
**Expected output:**
![image](https://user-images.githubusercontent

[2021-10-03 04:15] goliakshay357 opened #423 "Add a scroll bar in the right end"
**Is your feature request related to a problem? Please describe.**
Add a scroll bar in the right end to show the scrolling effect for better user experience.

![image](https://user-images.githubusercontent.com/32712438/135739500-1ec54511-424c-4dda-ad87-a28db4561744.png)

Location:  components/new-board

[2021-10-03 04:28] goliakshay357 opened #424 "Design Ideas for toolbar"
Enhance the existing toolbar design for better UI/UX

![image](https://user-images.githubusercontent.com/32712438/135739877-db37326d-7808-453c-b1f2-ba0f5b422f29.png)

[2021-10-03 04:32] goliakshay357 opened #425 "Change focus to previous card on deleting the focused card when empty"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/32712438/135739933-f54a82ee-6fd9-40fc-b03a-71189fa57a5c.png)
When the card is empty and backspace is pressed, the focus has to go to the previous card.

![image](https://user-images.githubusercontent.com/32712438/135739981-d84fd610-b414-4009-bd51-224d3d3f1a5f.png)

**Describe the

[2021-10-03 04:49] #419 closed

[2021-10-03 06:30] Siddharth1002 commented on #400
Can I try this?

[2021-10-03 06:33] Siddharth1002 commented on #360
Can I try this ?

[2021-10-03 06:54] goliakshay357 commented on #360
Hi @Siddharth1002,
Sure!

[2021-10-03 06:54] goliakshay357 commented on #400
Hi @Siddharth1002,
This issue has been resolved. Please feel free to checkout other issues.

Thanks!

[2021-10-03 09:39] wsameer commented on #423
Hey, i'd like to work on this issue.

[2021-10-03 13:53] goliakshay357 opened #427 "Intial Loading time of page is long"
**Is your feature request related to a problem? Please describe.**
The Initial loading time for the website is long because the static files are been downloaded from the server.

**Describe the solution you'd like** 💡
A simple loading screen during that time could be a good user experience.

[2021-10-03 14:02] goliakshay357 opened #428 "Slides Wont show up few a times"
**Is your feature request related to a problem? Please describe.**
The Slides preview feature wont show up few a times.

![image](https://user-images.githubusercontent.com/32712438/135757103-f7f7bbcc-c74c-4c92-8a16-9071f14cc56e.png)

[2021-10-03 15:10] hemant8620 commented on #333
Hey, Is this issue still active?
If this is active then I would like to work on this.

[2021-10-03 16:02] #423 closed

[2021-10-03 19:20] goliakshay357 commented on #333
Hello @hemant8620,
This issue is currently been assigned to @Kevan-Y.
@Kevan-Y would you like this solve this issue or pass it to @hemant8620 ?

[2021-10-03 19:47] Kevan-Y commented on #333
@goliakshay357 , I would like to actually solve it

[2021-10-03 23:40] Kevan-Y commented on #333
@goliakshay357, I notice the error handler in the front-end is not handled well, should we open another Issue and add some improvement in the front-end. Like a message in red below the input saying folder name should be required.

[2021-10-04 11:12] aguyran commented on #428
I think the issue was that Reveal was global and was not reinitializing the DOM with classes, if you changed page with back button. Gonna make PR for this.

[2021-10-04 18:25] goliakshay357 opened #431 "Disable contentEditable for blocks only in full screen mode"
**Is your feature request related to a problem? Please describe.**
make contentEditable = false on DOM cards when on fullscreen mode so the user can't edit it and enable  the tag to true back again when exited the fullscreen mode.

![image](https://user-images.githubusercontent.com/32712438/135904145-7b46521f-22f0-47a8-b1bc-63cc35a87ad3.png)

[2021-10-04 18:31] goliakshay357 opened #432 "Fix CSS for few plugins when in fullscreen mode."
**Is your feature request related to a problem? Please describe.**
Content cant be seen or scrollable when overflowed.

![image](https://user-images.githubusercontent.com/32712438/135904896-f6af1553-8ca4-4bed-8abf-657f27e30946.png)

[2021-10-04 18:35] #333 closed

[2021-10-04 18:36] #428 closed

[2021-10-04 21:55] Kevan-Y commented on #327
Hi, if this is still open can I work on it?

[2021-10-05 06:45] goliakshay357 commented on #327
Hello @Kevan-Y,
Sure!

[2021-10-06 01:29] goliakshay357 opened #437 "Whiteboard content is'nt visible when in fullscreen mode"
**Is your feature request related to a problem? Please describe.**
Normally:
![image](https://user-images.githubusercontent.com/32712438/136126127-76747e05-373b-46c3-994f-b648ffba3895.png)

In fullscreen mode:
![image](https://user-images.githubusercontent.com/32712438/136126111-9e662ea0-0c78-414e-9ae2-d8de049c93d3.png)

Steps to produce the error:
1. Add the board plugin in the file.
2. draw some

[2021-10-06 01:37] goliakshay357 opened #438 "Auto Save Functionality"
**Is your feature request related to a problem? Please describe.**
Automatically save a file when the window is not generating any event. [autosave feature]
Ref: https://www.chevtek.io/how-to-implement-autosave-in-your-web-app/

[2021-10-06 14:13] goliakshay357 opened #441 "Enhancement in delete file option"
**Is your feature request related to a problem? Please describe.**
example of the modal we are looking for deleting files inside a folder.
![image](https://user-images.githubusercontent.com/32712438/136220184-dbf0a3f8-0e72-40bb-938b-532a6e51e026.png)

[2021-10-06 18:45] #405 closed

[2021-10-06 19:40] goliakshay357 opened #443 "Fuzy search for tools"
**Is your feature request related to a problem? Please describe.**
A feature to add tools easier like fuse search

[2021-10-06 19:41] goliakshay357 opened #444 "Style fuse search"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. It would be better if [...]

**Describe the solution you'd like** 💡
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2021-10-07 06:54] goliakshay357 opened #446 "Integrate externals to fuzy search"
**Is your feature request related to a problem? Please describe.**
Integrate external environments to fuse search
- Codestandbox (React, Angular, Vanilla, vue, HTML)
- witeboard.com
- Whimcal as embed
- Slides.com
- NodeJS visualizer (https://node-event-loop.herokuapp.com/)
- Codepen as embed

[2021-10-07 09:21] #446 closed

[2021-10-07 12:41] #444 closed, assigned to kingavatar

[2021-10-10 12:14] #441 closed, assigned to nobody

[2021-10-10 12:34] goliakshay357 opened #449 "Manual NPM audit fix"
**Describe the bug** 🐛
Fix the npm audit manually.
![image](https://user-images.githubusercontent.com/32712438/136695848-45fd7276-e18d-4ad8-8e8a-eec52c6374b5.png)

[2021-10-10 12:36] goliakshay357 opened #450 "ng lint warnings"
**Describe the bug** 🐛
Clear the ng lint warnings
![image](https://user-images.githubusercontent.com/32712438/136695915-49df2ac3-e85c-4ba9-9e49-d34a6038be5e.png)

[2021-10-13 08:15] goliakshay357 opened #452 "Activate enter action after entering password during login"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/32712438/137094128-7d00e7c2-914e-4608-99ee-569361c1f9b7.png)

After entering the email and password after the login. By pressing the enter keyboard, no event gets triggered to have a successfull login.

Activating the enter keyboard will make the user flow smooth.

[2021-10-13 08:16] goliakshay357 opened #453 "CSS Issue"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/32712438/137094497-c5525d22-d104-4281-b1f3-a393ada1ec7d.png)

Position the eye svg properly in signup page.

[2021-10-13 08:23] goliakshay357 opened #454 "Links broken in footer"
**Describe the bug** 🐛
page not navigating when clicked on links in footer
![image](https://user-images.githubusercontent.com/32712438/137095574-62bc47f0-f7fd-4b8a-96da-09bbdbc4219e.png)

Solution:
Attach the right relative routelink

[2021-10-13 08:24] goliakshay357 opened #455 "Remove navigate to top in the home component"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/32712438/137095901-b6e19f3b-d599-49be-ac53-ad5a8738a0f4.png)

Remove this in new-board component.

[2021-10-13 16:18] infinityover commented on #453
Can i work on it?

[2021-10-13 16:38] goliakshay357 commented on #453
Hello @infinityover,
Sure!

[2021-10-13 23:11] Dinoosawruss commented on #452
Hey, could I be assigned to this?

[2021-10-14 04:29] goliakshay357 commented on #452
Sure!

[2021-10-14 13:43] infinityover commented on #450
Solved by pullrequest #456

[2021-10-14 13:49] #450 closed, assigned to infinityover

[2021-10-14 16:40] #454 closed, assigned to SaiSridhar783

[2021-10-15 16:53] #453 closed

[2021-10-15 17:42] #452 closed, assigned to Dinoosawruss

[2021-10-16 16:47] goliakshay357 opened #460 "Add Footer to contribution page"
**Is your feature request related to a problem? Please describe.**
Footer is missing in contribution page

[2021-10-16 16:48] nidhibudhraja commented on #460
can I work on this issue?

[2021-10-16 16:48] goliakshay357 commented on #460
Hello @nidhibudhraja,
Sure!

[2021-10-23 07:27] goliakshay357 opened #463 "Optimize SEO"
Adding better meta tags for twitter, pinterest, LinkedIn.

[2021-11-23 20:24] goliakshay357 opened #465 "CAPTCHA Integration"
Integrate CAPTCHA in login and signup pages to prevent the DoS/DDoS in the Application layer.

[2021-11-28 17:54] sjana0 commented on #455
Hey, if the issue's still open can I work on this issue?

[2021-11-29 04:43] goliakshay357 commented on #455
hello @sjana0,
yes sure! Please go ahead!

[2021-12-05 07:20] #432 closed

[2021-12-05 13:26] Wrrikk commented on #463
Can I work on this issue?

[2021-12-08 06:55] #422 closed

[2021-12-08 07:28] goliakshay357 opened #468 "Remove Puppeteer and configure default testing"
**Describe the bug** 🐛
The total test time with puppeteer is taking long time. An alternative would be using the default testing provided by angular with no browser flag

[2021-12-08 07:36] goliakshay357 opened #469 "Package Updates"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/32712438/145167588-3f51f3d1-bd54-486d-835c-2990485efc62.png)
Updating NPM Packages which includes manual update.

[2021-12-08 07:37] goliakshay357 commented on #469
Red = major upgrade
Cyan = minor upgrade
Green = patch upgrade

[2021-12-08 12:58] goliakshay357 commented on #455
Hello @sjana0,
Are you working on this issue?

[2021-12-09 06:12] Aniket-508 commented on #469
@goliakshay357 I am working on this!

[2021-12-09 09:23] goliakshay357 commented on #469
Sure!

[2021-12-09 09:24] goliakshay357 commented on #469
You can maybe ignore the dev dependencies as they don't come into the picture during the production.

[2021-12-11 11:00] goliakshay357 opened #470 "Remove CSS layer on paste in title"
**Is your feature request related to a problem? Please describe.**
Remove the CSS layer on pasting the text in the title.

To produce error:
Copy a text from other source which has CSS and paste it on the title
![image](https://user-images.githubusercontent.com/32712438/145674106-89603bbf-d55e-4d2f-84c9-e93f076271c4.png)

Expected:
![image](https://user-images.githubusercontent.com/32712438/145674

[2021-12-11 12:20] goliakshay357 opened #471 "Link verification"
**Is your feature request related to a problem? Please describe.**
A link verification function before attaching the links to the embed plugin/youtube plugin

[2021-12-11 12:21] goliakshay357 commented on #465
@Aniket-508 Are you working on this issue?

[2021-12-11 14:03] patrikhv commented on #471
Hi, can you describe this issue more? I am interested in it.

[2021-12-11 14:43] goliakshay357 commented on #471
Hello @patrikhv,
When you paste a link in the embed plugin or youtube plugin. Verification/Validation of the link shud be taken care.

Steps:
1. User pastes the link in the input field
2. When clicked on "ENTER", validate the link.
3. if correct, move forward
4. if wrong due to some reason, log the error

Eg:
![image](https://user-images.githubusercontent.com/32712438/145680552-67d9e66c-e08a-46a1-

[2021-12-11 17:42] patrikhv commented on #471
Thanks. Where is this component located?

[2021-12-12 02:45] goliakshay357 opened #472 "Dynamic Toolbar height"
**Describe the bug** 🐛
The toolbar on the board leaves few white space if the tools aren't present for non-text card.
![image](https://user-images.githubusercontent.com/32712438/145698326-f04125b7-9673-4d48-989c-8cf7e29ec560.png)

Sol:
Set dynamic height in CSS

[2021-12-12 02:49] goliakshay357 opened #473 "Minimize button is missing"
**Describe the bug** 🐛
Minimize toolbar is not there.

![image](https://user-images.githubusercontent.com/32712438/145698353-2e954552-2c84-4f20-93ba-5a42092087ac.png)

Button is missing.
![image](https://user-images.githubusercontent.com/32712438/145698378-0329c961-658c-41ee-9b63-c316b2b1f5f3.png)

[2021-12-12 02:54] goliakshay357 opened #474 "New jumbotron designs in files page"
Current Design:
![image](https://user-images.githubusercontent.com/32712438/145698459-4abf04a4-cbac-4ece-9478-84f8a7a6111d.png)

[2021-12-12 02:57] goliakshay357 opened #475 "Refactor API Calls"
**Is your feature request related to a problem? Please describe.**
Refactor API calls by using Promises.

[2021-12-12 02:59] goliakshay357 opened #476 "Load page during API runtime"
**Is your feature request related to a problem? Please describe.**
A loading bar when the API is fetching data from the backend.

[2021-12-12 03:08] goliakshay357 commented on #471
For Embed Plugin: https://github.com/Canvasbird/canvasboard/blob/f3f95fcb431d0dacab6f443279e8bfe9c2bc4231/src/app/components/new-board/new-board.component.html#L894

You can add the click function in ```.ts``` file and then make the logic for verification.

For Youtube Plugin:
https://github.com/Canvasbird/canvasboard/blob/f3f95fcb431d0dacab6f443279e8bfe9c2bc4231/src/app/components/new-board/new-b

[2021-12-13 17:01] #472 closed

[2021-12-13 17:45] Aniket-508 commented on #471
Can we just use input type as url instead of text for embed link and write a simple custom regex for youtube validation? @goliakshay357

[2021-12-13 17:51] goliakshay357 commented on #471
Good point.

[2021-12-16 14:34] CSALS commented on #279
Any update on this?

[2021-12-17 06:40] #471 closed

[2021-12-18 18:07] wasp0094 commented on #474
hi, I'd like to work on this issue

[2021-12-19 11:38] Aniket-508 commented on #475
@goliakshay357 I am working on this!

[2021-12-19 13:22] #473 closed

[2021-12-29 18:15] #470 closed

[2022-05-21 22:37] vijay-jaisankar opened #495 "Dockerfile potentially out of date"
**Description**
In the [Dockerfile](https://github.com/Canvasbird/canvasboard/blob/master/Dockerfile), we are pulling the image of `node:12`.
The [dockerhub](https://hub.docker.com/_/node) page of node includes images for `node:18`, and other more recent versions.

**Proposed Solution**
We can change the Dockerfile by pulling `node:18` or `node:16` (LTS)